@import '../../../styles/variables';

.container {
    height: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    display: flex;
    align-items: center;

    > div {
       padding-right: 38px;
       &:last-child {
           padding-right: 0;
       }
    }
}

.navBarItem {
    font-size: .8em;
    color: #666;
}

.navBarItemLabel {
    color: #999;
    margin-right: 4px;
}
