.contentContainer {
  background-color: var(--panel-full-height-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -24px auto;
  width: 600px;
  min-height: 100vh;

  form {
    max-height: 600px;
  }

  .childrenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
  }

  .header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 30px;
    line-height: 32px;
    font-family: Gotham-Light;
    font-size: 30px;
    color: var(--base-text);
    text-align: center;
    line-height: 32px;

    .headerIcon {
      margin-right: 10px;
      display: flex;

      svg {
        width: 40px;
        min-height: 40px;
        margin: auto;
        overflow: visible;

        path {
          fill: var(--view-layout-header-icon-color);
        }
      }
    }
  }

  .instructions {
    border-bottom: solid thin var(--panel-full-height-instructions-border);
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 5px;
    width: 500px;
    font-size: 14px;
    color: var(--panel-full-height-instructions-text);
    font-family: Gotham-Book;
  }

  .navigation {
    display: flex;
    background-color: var(--panel-full-height-nav-background);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;

    > span {
      display: flex;
      flex: 1 0 0;
    }

    .backButton {
      margin-left: 30px;
    }

    .closeButton {
      margin-left: auto;
      margin-right: 30px;
    }

    svg {
      path {
        fill: var(--panel-full-height-header-icon-color);
      }
    }

    img {
      padding: 15px;
      height: 40px;
      display: flex;
      margin-left: -54px;
      margin: auto;
    }
  }
}

.layoutContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
