.encryptForm {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  form {
    align-self: flex-start;
  }
}

.formContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
