.encryptForm {
  width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    align-self: flex-start;
  }

  .submitButton {
    margin-top: auto;
    margin-bottom: 50px;
  }
}

.formContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
