.zeroAssets {
    display: flex;
    padding: 40px 30px;
    align-items: center;

    svg {
        height: 150px;
        width: 150px;
        min-width: 150px;
    }

    .zeroAssetsHeaderText {
        font-weight: 300;
        font-size: 2em;
        margin: 0;
    }
}