@import '../../../../styles/variables';

// .txidLink {
//   color: $link-color;
//   font-size: 13px;
//   cursor: pointer;
// }

.zeroAssets {
  display: flex;
  padding: 40px 30px;
  align-items: center;
  width: 500px;
  margin: auto;

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $link-color;
  }

  // svg {
  //   height: 150px;
  //   width: 150px;
  //   min-width: 150px;
  // }

  .address {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;

    button {
      margin-bottom: 15px;
      margin-left: -40px;
      z-index: 100;
    }

    input {
      min-width: 360px;
    }
  }

  .zeroAssetsHeaderText {
    font-weight: 300;
    font-size: 2em;
    margin: 0;
  }
}
