@import '../../styles/variables';

.container {
    font-size: .8em;
    opacity: 0.6;
}

.label {
    opacity: .6;
    margin-right: 4px;
}

.price {
    color: $thin-text-color;
    opacity: .8;
    cursor: pointer;
}

.neoPriceDisplay {
    padding-right: 38px
}