@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SofiaPro-Light';
  font-weight: lighter;
  src: url('../fonts/sofiapro-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-regularitalic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'SofiaPro-Medium';
  src: url('../fonts/sofiapro-medium-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro-SemiBold';
  src: url('../fonts/sofiapro-semibold-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro-Bold';
  font-weight: bolder;
  src: url('../fonts/sofiapro-bold-webfont.woff') format('woff');
}
