.detailRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.qrContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-top: 24px;
  width: 100%;

  .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  canvas {
    min-width: 200px;
    min-height: 200px;
  }

  button {
    margin-top: 12px;
  }

  label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    opacity: var(--input-label-opacity);
    color: var(--input-label);
    margin-bottom: 10px;
  }
}

.qrPrintButtonContainer {
  margin-bottom: 50px;
  width: 490px;
}

.input {
  min-width: 490px;
  width: 60%;
}

.headerIconMargin {
  margin-top: 20px !important;
}

.newWalletContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.label {
  width: 140px;
  font-weight: 800;
  font-size: 14px;
}

.logo {
  max-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100px;
}

.buttonContainer {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  flex: 1;
  justify-content: space-between;

  button {
    width: 225px;
  }

  button:first-child {
    margin-right: 12px;
  }
  button:last-child {
    margin-right: 0;
  }
}

.disclaimer {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 200;
  color: #aa3939;
  padding: 0 20px;
  text-align: center;
  margin-top: -50px;
}

.reducedInputFontSize {
  input {
    font-size: 12px !important;
  }
}

.clipboardCopy {
  margin-left: -35px;
  margin-top: 5px;
  height: 100%;
  z-index: 1;
  margin-right: 0px;
}

.displayWalletAccountsDialogue {
  margin: 20px 0px 20px 0px;
  max-width: 100%;

  .saveDetails {
    font-weight: 300;
  }
  svg {
    path {
      fill: #ff967e;
    }
  }
}
