.detailRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.input {
  min-width: 475px;
  width: 60%;
}

.headerIconMargin {
  margin-top: 20px !important;
}

.newWalletContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.label {
  width: 140px;
  font-weight: 800;
  font-size: 14px;
}

.logo {
  max-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100px;
}

.buttonContainer {
  width: 100%;
  margin: auto;
  margin-top: auto;
  margin-bottom: 50px;
}

.disclaimer {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 200;
  color: #aa3939;
  padding: 0 20px;
  text-align: center;
  margin-top: -50px;
}

.reducedInputFontSize {
  input {
    font-size: 12px !important;
  }
}

.clipboardCopy {
  margin-left: -35px;
  margin-top: 5px;
  height: 100%;
  z-index: 1;
  margin-right: 0px;
  background-color: #f2f2f2;

  svg {
    path {
      // fill: #66ed87;
    }
  }
}

.qrContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 35px;
  min-width: 475px;
  width: 75%;

  .qrItem {
    flex: 1;
  }
}

.displayWalletAccountsDialogue {
  margin: 20px 0px 20px 0px;
  max-width: 100%;

  .saveDetails {
    font-weight: 300;
  }
  svg {
    path {
      fill: #ff967e;
    }
  }
}
