@import '../../styles/variables';

.zeroAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amounts-panel-first-row-background);

  svg {
    height: 36px;
    width: 36px;
    margin-right: 15px;
  }
}

h1 {
  margin-top: 0;
  font-family: var(--font-gotham-light);
  font-weight: 100;
  font-size: 30px;
  color: #8d98ae;
  line-height: 32px;
  margin-bottom: 0;
}

.container,
.zeroAmount {
  margin-bottom: 20px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
  box-sizing: border-box;
  color: var(--amounts-panel-asset-name-text);
}

.amountsPanel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container,
.amountsPanel,
.zeroAmount {
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
}

.amountsPanelSingleRow {
  background-color: var(--amounts-panel-first-row-background);
  justify-content: center;
}

.amountsPanelMultipleRows {
  justify-content: flex-start;
}
