@import '../../styles/variables';

.amountsPanel {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  overflow-x: hidden;
  margin: 0 0 20px;
  overflow-y: auto;
  background-color: #f2f2f2;
  color: #515151;
}
