.settingsItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--settings-item-border-color);
  padding: 5px 0;
  height: 50px;

  .settingsItemLabel {
    flex: 1;
    font-family: Gotham-Bold;
    font-size: 12px;
    color: var(--settings-item-label);
  }
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;

  svg {
    min-width: 17px;
    min-height: 17px;
    max-width: 17px;
    max-height: 17px;

    path {
      fill: var(--settings-item-icon);
    }
  }
}

.noBorderBottom {
  border-bottom: none;
}
