.settingsItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0;
  height: 65px;

  .settingsItemLabel {
    flex: 1;
    // margin-bottom: 10px;
    font-size: 12px;
  }
}
