@import '../../../../../styles/variables';

.sendSuccessTransaction {
  display: flex;
  background-color: var(--panel-header);
  color: var(--panel-label-text);
  padding: 8px 30px;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
  min-height: 55px;
  p {
    margin: 0;
  }
}

.sendIconContainer,
.assetContainer {
  width: 10%;
  display: flex;
  align-items: center;

  p {
    color: var(--send-success-row-info);
    margin: 0;
  }

  svg {
    path {
      fill: #ff967e;
    }
  }
}

.amountContainer {
  width: 15%;
}

.amount {
  color: var(--panel-header-text);
  font-weight: bold;
}

.addressContainer {
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--send-success-row-info);

  svg {
    path {
      fill: var(--tx-history-copy-icon) !important;
    }
  }
}

.buttonContainer {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.sendSuccessButton {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--base-text);
  cursor: pointer;

  svg {
    margin-right: 5px;

    path {
      fill: var(--tx-history-button-icon);
    }
  }
}
