.container {
  text-align: center;
  padding-top: 100px;
}

.iconContainer {
  width: 50px;
  height: 50px;
  background-color: #e8f4e4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 18px auto;
}

.heading {
  padding-bottom: 5px;
  color: #353535;
  font-size: 34px;
}

.confirmation {
  padding: 15px;
  background-color: #e8f4e4;
  width: 450px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  margin-bottom: 30px;
  > div {
    padding-bottom: 5px;
  }
}

.subHeading {
  padding-bottom: 30px;
}
