.passwordField {
    width: 100%;
    display: inline-block;

    input {
        width: 95%;
        float: left;
        margin-bottom: 10px;
    }

    .viewKey {
        position: relative;
        cursor: pointer;
        margin-left: -25px;
        margin-top: 10px;
    }
}