.passwordField {
    width: 100%;
    position: relative;

    input {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 40px;
        box-sizing: border-box;
    }

    .viewKey {
        position: absolute;
        cursor: pointer;
        top: 11px;
        right: 14px;
    }
}
