$encrypt-icon-size: 24px;

.encryptSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  flex: 1;

  .successMessage {
    padding-bottom: 50px;
  }

  .label {
    margin-bottom: 8px;
    color: #969aa0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .encryptedKeyContainer {
    padding-bottom: 30px;
  }

  .encryptedKey {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 24px 0 0;
    background: #f2f2f2;
    border-radius: 4px;

    input {
      font-size: 11.5px;
      background: transparent;
    }

    .copy {
      margin-left: -20px;
      margin-top: 5px;
      height: 100%;
      z-index: 1;
      margin-right: -25px;
    }
  }

  .encryptResetButton {
    margin-top: auto;
    margin-bottom: 50px;

    svg {
      width: $encrypt-icon-size;
      height: $encrypt-icon-size;
    }
  }
}

.buttonContainer {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  flex: 1;
  justify-content: space-between;

  button {
    width: 225px;
  }

  button:first-child {
    margin-right: 12px;
  }
  button:last-child {
    margin-right: 0;
  }
}
