@import '../../../styles/variables.scss';

.contactFormContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .contactFormHeader {
    color: var(--panel-header-text);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  .contactForm {
    max-width: 500px;
    padding: 24px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .input {
      margin-bottom: 10px;
    }

    .contactFormSubheader {
      font-size: 0.9rem;
      border-bottom: 1px solid var(--panel-header);
      padding: 10px 0;
      margin: 35px 0;
      color: var(--panel-header-text);
    }

    .contactFormLabel {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      display: block;
      color: var(--panel-label-text);
      margin: 15px 0 10px 0;
    }

    .conactFormDialogue {
      width: 100%;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .dialogueAndButtonContainer {
      margin-top: -20px;

      svg {
        path {
          fill: #ee6d66;
        }
      }
    }
  }

  .submitButton {
    margin-top: auto;
    margin-bottom: 26px;
  }
}
