@import './variables';
.loginPage {
    width: $page-width;
    margin: $top-margin auto $top-margin auto;

    .title {
        font-size: 1.4em;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .loginForm {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        .selectBox {
            label {
                font-weight: 800px;
                margin-right: 10px;
            }
            text-align: left;
        }

        select {
            margin-bottom: 10px;
        }

        .accountLabel {
            width: 300px;
            margin-left: 20px;
        }
    }
}
