@import './variables';

@font-face {
  font-family: 'SofiaPro-Light';
  font-weight: lighter;
  src: url('../assets/fonts/sofiapro-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../assets/fonts/sofiapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../assets/fonts/sofiapro-regularitalic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'SofiaPro-Medium';
  src: url('../assets/fonts/sofiapro-medium-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro-SemiBold';
  src: url('../assets/fonts/sofiapro-semibold-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro-Bold';
  font-weight: bolder;
  src: url('../assets/fonts/sofiapro-bold-webfont.woff') format('woff');
}

:root {
  --font-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-gotham: 'SofiaPro', var(--font-fallback);
  --font-gotham-medium: 'SofiaPro-Medium', var(--font-fallback);
  --font-sofiapro-semibold: 'SofiaPro-SemiBold', var(--font-fallback);
  --font-gotham-bold: 'SofiaPro-Bold', var(--font-fallback);
  --font-gotham-thin: 'SofiaPro-Light', var(--font-fallback);
  --font-gotham-light: 'SofiaPro-Light', var(--font-fallback);
  --font-gotham-book: 'SofiaPro-Bold', var(--font-fallback);
}

@media print {
  #newWallet {
    font-size: 0.8em;
    width: 600px !important;
  }
}

html,
body,
#root,
input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(--font-gotham);
}

body {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  :focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--base-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--base-scrollbar-thumb);
}

input {
  font-size: 1.2em;
  padding: 7px 15px;
  border: none;
  font-weight: 400;
  :focus {
    outline: none;
  }
}

input::placeholder {
  color: var(--input-placeholder);
}

.notification-link {
  text-decoration: none;
}

.__react_component_tooltip {
  &.show {
    opacity: 1 !important;
  }
  &.solidTip {
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
}

.react-select-container {
  width: 100%;
  min-width: 140px;
  font-family: var(--font-gotham);
  cursor: pointer !important;

  .react-select__placeholder {
    color: var(--input-placeholder);
  }

  .react-select__input {
    color: var(--input-text);
  }

  .react-select__single-value {
    color: var(--input-text);
    font-family: var(--font-sofiapro-semibold);
  }

  .react-select__value-container {
    box-sizing: border-box;
    width: 100%;
    height: $text-input-height;
    padding: 7px 15px;
    color: var(--input-text);
    background: var(--input-background);
    font-size: $text-input-font-size;
    border-radius: $text-input-border-radius;
    font-family: var(--font-gotham);
  }

  .react-select__control {
    color: var(--input-text);
    background: var(--input-background);
    border-radius: $text-input-border-radius;
    border: 2px solid var(--input-background);
  }

  .react-select__control:hover {
    border-color: var(--input-background);
  }
  .react-select__option:hover {
    background-color: var(--input-select-hover);
  }

  .react-select__option--is-focused {
    background: var(--input-select-hover);
    cursor: pointer;
  }

  .react-select__option--is-selected {
    background: var(--input-select-hover);
    color: var(--base-text);
  }

  .react-select__menu-list {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    background: var(--input-background);
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: -7px;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .react-select__control--is-focused {
    @include active-input;
    border-color: transparent !important;
    box-shadow: none;

    .react-select__value-container {
      padding: 7px 13px;
    }
  }
}

.recharts-cartesian-grid-vertical {
  line:first-child {
    stroke: rgb(230, 230, 230);
  }

  line {
    stroke: transparent;
  }
}

.notifications-wrapper {
  .notification-download-link {
    color: #0000ff;
  }
}

.neon-tabs {
  width: 100%;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;

    li {
      display: flex;
      margin: auto;
      font-size: 12px;
      color: var(--base-text);
      letter-spacing: 0.37px;
      opacity: 0.5;

      cursor: pointer;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: solid #ced0d4 1px;
      justify-content: center;
    }

    li[aria-selected='true'] {
      opacity: 1;
      font-weight: bold;
      color: var(--base-text);
      border-bottom: solid var(--base-text) 2px;
    }
  }
}

a {
  cursor: pointer;
}

.tippy-popper {
  max-width: none;
  margin-left: -5px;
}

.tippy-tooltip.network-settings-theme {
  background-color: var(--network-config-tooltip-background);
  color: var(--network-config-tooltip-color);
  box-shadow: var(--network-config-box-shadow);

  .arrow-regular {
    border-right: 7px solid var(--network-config-tooltip-background) !important;
    top: 40px !important;
  }
}

.neon-chain-switch {
  margin-left: 6px;
  .react-switch-bg {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.9);
  }

  .react-switch-handle {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
}
