@import './variables';

@media print {
    #newWallet {
        font-size: .8em;
        width: 600px !important;
    }
}

body {
    font-family: 'helvetica neue', 'helvetica', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-color: $main-background;
    color: $default-text;
}

button {
    font-size: 1em;
    padding: 6px 12px;
    margin-right: 10px;
    color: $button-text;
    background-color: $default-button;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $default-button-hover;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &.disabled {
        opacity: .6;
        cursor: default;

        &:hover {
            background-color: $default-button;
        }
    }
}

input {
    font-size: 1.2em;
    padding: 7px 15px;
    border: none;
    font-weight: 200;
    background-color: $dark-input-color;
    color: $default-text;
}

.notification-link {
    text-decoration: none;
    color: $default-text;
}

#settings,
#tokenSale {
    width: $page-width;
    margin: $top-margin auto $top-margin auto;
    .description {
        font-size: 1.2em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    .settingsForm {
        margin-bottom: 20px;
    }
    input.scriptHash {
        width: 500px;
    }
    input.neoAmount {
        width: 100px;
    }
    label {
        margin-right: 10px;
    }
    .walletItem {
        width: 100%;
    }
    .settingsItem {
        margin-bottom: 10px;
    }
    .itemTitle {
        font-weight: 800;
        margin-bottom: 5px;
    }
    .walletItem {
        margin-bottom: 3px;
    }
    .walletName,
    .walletKey,
    .deleteWallet {
        display: inline-block;
        margin-right: 10px;
    }
    .walletName {
        width: 20%;
    }
    .walletKey {
        width: 50%;
        font-size: .8em;
        font-family: 'courier', monospace;
    }
    .deleteWallet {
        width: 10%;
        opacity: .6;
        cursor: pointer;
    }
}

#tokenSale {
    .warning {
        background-color: red;
        color: white;
        padding: 5px;
        margin-bottom: 10px;
    }
}

#newWallet {
    width: $page-width;
    margin: $top-margin auto $top-margin auto;
    .copyKey {
        margin-left: 5px;
        color: #000;
    }
    input {
        width: 95%;
        margin-bottom: 10px;
    }
    .generating {
        margin: 20px 0px;
        font-size: 1.4em;
        font-weight: 200;
    }
    .copyKey:hover {
        opacity: .7;
        cursor: pointer;
    }
    .disclaimer {
        margin-bottom: 20px;
        font-size: 1.4em;
        font-weight: 200;
        background-color: #AA3939;
        color: white;
        padding: 5px;
    }
    .info {
        margin-bottom: 10px;
        font-size: 1.4em;
        font-weight: 200;
    }
    .addressBox,
    .privateKeyBox {
        margin-bottom: 20px;
        display: inline-block;
        width: 40%;
        text-align: center;
    }
    .addressBox {
        margin-right: 9%;
    }
    .privateKeyBox {
        margin-left: 9%;
    }
    .keyList {
        margin-bottom: 20px;
    }
    .keyListItem {
        font-size: .9em;
        span.label {
            margin-right: 5px;
            font-weight: 800;
        }
    }
    button {
        margin-top: 10px;
    }
    .saveKey {
        margin-bottom: 10px;
        input {
            width: 300px;
            margin-right: 20px;
        }
        button {
            background-color: $dark-button;
        }
    }
}

// split pane stuff
#dashboard {
    .spacer {
        width: 84%;
        margin: 0px 8%;
        border-top: 2px solid $spacer-color;
    }
    #claim {
        margin: 20px 0px;
        button {
            font-size: 1em;
            font-weight: 200;
        }
    }
    
    #confirmPane {
        margin: 0px auto;
        button {
            margin-top: 0px;
            background-color: $dark-button;
            height: 33px;
            margin-left: 10px;
            color: white;
            margin-right: 0px;
        }
        button:hover {
            background-color: $dark-button-hover;
        }
    }
    #sendPane {
        position: relative;
        width: 96%;
        margin: 8px auto 0px auto;
        overflow: hidden;
        input {
            font-size: .9em;
            height: 30px;
            border: none;
            color: $thin-text-color;
            background-color: white;
        }
        button {
            margin-top: 10px;
            background-color: $default-button;
            height: 33px;
            margin-left: 10px;
            color: white;
            margin-right: 0px;

            &:hover {
                background-color: $default-button-hover;
            }
        }

        #sendAddress {
            width: 100%;
            input {
                width: 96%;
                padding: 0px 2%;
            }
        }
        button#sendAsset {
            background-color: $dark-button;
        }
        button#sendAsset:hover {
            background-color: $dark-button-hover;
        }
        #sendAmount {
            margin-top: 3px;
            display: inline-block;
            width: 50%;
            height: 30px;
            margin-right: 0px;
            input {
                width: 96%;
                padding: 0px 2%;
            }
        }
    }
    #accountInfo {
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        span.copyKey {
            margin-left: 3px;
            cursor: pointer;
        }
        .label {
            font-size: .85em;
        }
        .address {
            font-size: .65em;
            margin-bottom: 20px;
            margin-top: 1px;
            letter-spacing: .07em;
        }
        .qrCode {
            margin-top: 20px;
        }
        #balance {
            margin: 20px 0px;
            .split {
                display: inline-block;
                width: 50%;
                clear: none;
            }
            .label {
                font-weight: 200;
                color: $thin-text-color;
                font-size: 1.1em;
            }
            .amountBig {
                font-weight: 200;
                font-size: 2.4em;
                color: $thin-text-color;
                margin: 0px 0px 2px 0px;
            }
            .fiat {
                font-size: 1.1em;
                font-weight: 200;
            }
            .walletTotal {
                padding-top: 10px;
            }
            #refresh {
                font-size: 2.2em;
                position: absolute;
                top: 100px;
                left: 47%;
                cursor: pointer;
                color: $default-button;
            }
            #refresh:hover {
                color: $default-button-hover;
            }
        }
    }
}

.leftSplit {
    .Pane1 {
        background-color: $default-button;
        cursor: pointer;
        border-bottom: none;
        color: $button-text;
        &:hover {
            background-color: $default-button-hover;
            color: $button-text;
        }
    }
}   
.sendSplit {
    .Pane1 {
        background-color: $secondary-background;
        &:hover {
            background-color: $secondary-background;
        }
    }
}

.confirmSplit {
    .horizontal.Pane1 {
        border: none;
    }
}

.vertical.Pane1 {
    border-right: 1.5px solid $spacer-color;
}

// TODO: tool-tip seems broken
.__react_component_tooltip {
    &.show {
        opacity: 1 !important;
    }
    &.solidTip {
        background-color: rgba(0, 0, 0, 1);
        z-index: $z-index-tooltip;
    }
}

.ReactModalPortal {
    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        &--after-open {            
            opacity: 1;
        }
        &--before-close {
            opacity: 0;
        }
    }
}