body{
	font-family: 'helvetica neue', 'helvetica', sans-serif;
	font-size:16px;
}

button{
	font-size:1em;
	padding:3px 7px;
	margin-right:10px;
}
button a{
	text-decoration: none;
	color:inherit;
}

input{
	font-size:1em;
	padding:3px 7px;
	border:1px solid #efefef;
}

// for key display
span.key{
	padding:2px 3px;
	background-color: #efefef;
}

#pageWrapper{
	margin:30px 30px;
	.title{
		font-size: 1.4em;
		margin:10px 0px;
		font-weight:800;
	}
	.margin10{
		margin:10px 0px;
	}
}

#loginPage{
	input{
		width:100%;
	}
}

#networkSwitch{
	position:absolute;
	top:30px;
	right:30px;
}

#newWallet{
	#walletInfo{
		margin:10px 0px;
		.label{
			font-weight:800;
			width:250px;
			margin-right:10px;
		}
	}
}

#sendPage{
	#sendAddress, #sendAsset, #sendAmount{
		margin-right:10px;
	}
	input#sendAddress{
		width: 400px;
	}
	input#sendAmount{
		width:80px;
	}
}

#balancePage{
	#publicAddress{
		// font-size:1.2em;
		margin:10px 0px;
		span.descriptor{
			margin:0px 5px 0px 0px;
			font-weight: 800;
		}
	}
	#balanceList{
		// font-size:1.2em;
		margin:0px 0px 10px 0px;
		span.asset{
			width:250px;
			margin:0px 5px 0px 0px;
			font-weight:800;
		}
		span.amount{
			width:250px;
		}
	}
}
