@mixin can-toggle-branding(
  $can-toggle-off-color: #777, 
  $can-toggle-on-color: #096094,
  $can-toggle-inactive-text: rgba(white, 0.5),
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {
  
  input[type="checkbox"] {
    
    &[disabled] ~ label {
      color: rgba($can-toggle-off-color, 0.5);
    }
    
    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        background-color: $can-toggle-off-color;
        &:after { color: darken($can-toggle-off-color, 10%); }
      }
    }
    &:hover ~label { color: darken($can-toggle-off-color, 5%); }
    &:checked {
      ~ label {
        &:hover { color: darken($can-toggle-on-color, 3%); }
        
        .can-toggle__switch {
          background-color: lighten($can-toggle-on-color, 5%);
          &:after { color: darken($can-toggle-on-color, 5%); }
        }
      }
      
      &:focus, &:hover {
        ~ label {
          .can-toggle__switch {
            background-color: $can-toggle-on-color;
            &:after { color: darken($can-toggle-on-color, 10%); }
          }
        } 
      }
    }
  }
  
  label {
    
    .can-toggle__label-text { flex: 1; }
    
    .can-toggle__switch {
      transition: background-color 0.3s $can-toggle-transition;
      background: lighten($can-toggle-off-color, 5%);
      &:before { color: $can-toggle-inactive-text; }
      &:after {
        // Autoprefixer choked here, so making the prefixes explicit
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $can-toggle-off-color; 
      }
    }
    
  }
}

@mixin can-toggle-appearance 
( 
  $can-toggle-width: 150px,
  $can-toggle-height: 36px,
  $can-toggle-border-radius: 4px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 14px,
  $can-toggle-switch-font-size: 12px,
  $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
){
  $can-toggle-switch-width: $can-toggle-width/2;
  
  input[type="checkbox"] {

    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        &:after { box-shadow: $can-toggle-shadow; } 
      }
    }
    
    &:checked {
      ~ label {
        .can-toggle__switch {
          &:after { transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0); }  
        }
      }
      &:focus, &:hover {
        ~ label {
          .can-toggle__switch { &:after { box-shadow: $can-toggle-shadow; } }
        } 
      }
    }
  }
  
  label {
    font-size: $can-toggle-label-font-size;
    
    .can-toggle__switch {
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;
      
      &:before {
        left: $can-toggle-width/2;
        font-size: $can-toggle-switch-font-size; 
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 12px;
      }
      
      &:after {
        top: $can-toggle-offset; left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius/2;
        width: $can-toggle-switch-width - $can-toggle-offset; 
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
      }
      
      &:hover {
        &:after { box-shadow: $can-toggle-shadow; }
      }
    } 
  }
}

body{
	font-family: 'helvetica neue', 'helvetica', sans-serif;
	font-size:16px;
}

button{
	font-size:1em;
	padding:3px 7px;
	margin-right:10px;
}
button a{
	text-decoration: none;
	color:inherit;
}

input{
	font-size:1em;
	padding:3px 7px;
	border:1px solid #efefef;
}

// for key display
span.key{
	padding:2px 3px;
	background-color: #efefef;
}

#pageWrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.title{
		font-size: 1.4em;
		margin:0 auto;
		padding: 10px 0;
		text-align: center;
		font-weight:800;
	}
	.margin10{
		margin:10px 0px;
	}
	.topRight {
		position: absolute;
		top: 15px;
		right: 15px;

		a {
			color: white;
		}

		.customIcon{
			width: 25px;
			height: 25px;
			padding: 0 15px;
		}
	}
}

#loginPage{
	input{
		width:100%;
	}
}

#topArea {
	position: relative;
	margin: 0 0;
	height: 40%;
	width: 100%;
	background-color: blue;
	background: -moz-linear-gradient(45deg, rgba(180,220,12,1) 0%, rgba(110,186,52,1) 100%) !important;
 /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(180,220,12,1)), color-stop(100%, rgba(110,186,52,1))) !important;
 /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(180,220,12,1) 0%, rgba(110,186,52,1) 100%) !important;
 /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(180,220,12,1) 0%, rgba(110,186,52,1) 100%) !important;
 /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(180,220,12,1) 0%, rgba(110,186,52,1) 100%) !important;
 /* ie10+ */
    background: linear-gradient(45deg, rgba(180,220,12,1) 0%, rgba(110,186,52,1) 100%) !important;
    text-transform: uppercase;
    font-size: .9em;
    color: #fff;
}

#networkSwitch{
  position:absolute;
  bottom:15px;
  right:175px;
  *, *:before, *:after { box-sizing: border-box; }
  //overflow: hidden;
  
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    
    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }
    
    &:checked {
      ~ label {
        
        .can-toggle__switch {
          
          &:before {
            content: attr(data-unchecked);
            left: 0;
          }
        
          &:after {
            content: attr(data-checked);
          }  
        }
      }
      
      &:focus, &:hover {
        ~ label {
        } 
      }
    }
  }
  
  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    
    .can-toggle__label-text { 
      flex: 1;
      padding-left: 32px;
    }
    
    .can-toggle__switch {
      position: relative;
      
      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }
      
      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0,0,0);
      }

    }
    
  }
  
  // Default values for .can-toggle class
  @include can-toggle-branding; 
  @include can-toggle-appearance;
}

#newWallet{
	#walletInfo{
		margin:10px 0px;
		.label{
			font-weight:800;
			width:250px;
			margin-right:10px;
		}
	}
}

#sendPage{
	#sendAddress, #sendAsset, #sendAmount{
		margin-right:10px;
	}
	input{
		display: block;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
		margin-bottom: 15px;
	}
	#sendAsset {
		margin-left: 35%;
		margin-bottom: 15px; 
		  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    
    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }
    
    &:checked {
      ~ label {
        
        .can-toggle__switch {
          
          &:before {
            content: attr(data-unchecked);
            left: 0;
          }
        
          &:after {
            content: attr(data-checked);
          }  
        }
      }
      
      &:focus, &:hover {
        ~ label {
        } 
      }
    }
  }
  
  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    
    .can-toggle__label-text { 
      flex: 1;
      padding-left: 32px;
    }
    
    .can-toggle__switch {
      position: relative;
      
      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }
      
      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0,0,0);
      }

    }
    
  }
  
  // Default values for .can-toggle class
  @include can-toggle-branding(
  $can-toggle-off-color: #777, 
  $can-toggle-on-color: #B4DC0C,
  $can-toggle-inactive-text: rgba(white, 0.5),
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
); 
  @include can-toggle-appearance( 
  $can-toggle-width: 125px,
  $can-toggle-height: 36px,
  $can-toggle-border-radius: 4px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 14px,
  $can-toggle-switch-font-size: 12px,
  $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
);
	}
	.sendForm {
		display: block;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
		text-align: center;
		align-content: center;
	}
	.sendButton {
		margin-left: 27%;
		margin-right: 23%;
		width: 50%;
		margin-bottom: 15px;
	}
}

#balancePage{
	#publicAddress{
		// font-size:1.2em;
		position: absolute;
		bottom: 15px;
		left: 15px;
		span.descriptor{
			margin:0px 5px 0px 0px;
			font-weight: 800;
		}
	}
	#balanceList{
		// font-size:1.2em;
		margin: 50px auto;
		text-align: center;
		span.asset{
			width:250px;
			margin:15px auto;
			text-align: center;
			font-weight:800;
			font-size: 1.4em;
		}
		span.amount{
			width:250px;
			font-weight:500;
			font-size: 1.4em;
		}
	}
}

