@import './variables';

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/fonts/Gotham-Medium.otf');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../assets/fonts/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../assets/fonts/Gotham-Thin.otf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../assets/fonts/Gotham-Book.otf');
}

@media print {
  #newWallet {
    font-size: 0.8em;
    width: 600px !important;
  }
}

html,
body,
#root,
input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: var(--main-background);
}

body {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-color: var(--main-background);
  color: $default-text;
  overflow: hidden;
  :focus {
    outline: none;
  }
}

input {
  font-size: 1.2em;
  padding: 7px 15px;
  border: none;
  font-weight: 300;
  background-color: $dark-input-color;
  color: $default-text;
  :focus {
    outline: none;
  }
}

.notification-link {
  text-decoration: none;
  color: $default-text;
}

#settings,
#tokenSale {
  .description {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .settingsForm {
    margin-bottom: 20px;
  }
  input.scriptHash {
    width: 500px;
  }
  input.neoAmount {
    width: 100px;
  }
  label {
    margin-right: 10px;
  }
  .walletItem {
    width: 100%;
  }
  .settingsItem {
    margin-bottom: 10px;
  }
  .itemTitle {
    font-weight: 800;
    margin-bottom: 5px;
  }
  .walletItem {
    margin-bottom: 3px;
  }
  .walletName,
  .walletKey,
  .deleteWallet {
    display: inline-block;
    margin-right: 10px;
  }
  .walletName {
    width: 25%;
  }
  .walletKey {
    width: 50%;
    font-size: 0.8em;
    font-family: 'courier', monospace;
  }
  .deleteWallet {
    width: 10%;
    opacity: 0.6;
    cursor: pointer;
  }
}

#tokenSale {
  .warning {
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.vertical.Pane1 {
  border-right: 1.5px solid $spacer-color;
}

// TODO: tool-tip seems broken
.__react_component_tooltip {
  &.show {
    opacity: 1 !important;
  }
  &.solidTip {
    background-color: rgba(0, 0, 0, 1);
    z-index: $z-index-tooltip;
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
}

// react-select overrides
// TODO: work out a solution that does not expose these globally
.react-select-container {
  width: 100%;
  cursor: pointer;

  .react-select__placeholder {
    color: rgba(106, 106, 106, 1);
  }

  .react-select__value-container {
    box-sizing: border-box;
    width: 100%;
    height: $text-input-height;
    padding: 7px 15px;
    line-height: $text-input-height;
    color: $text-input-color;
    border: 2px transparent;
    background: $text-input-background-color;
    font-size: $text-input-font-size;
    border-radius: $text-input-border-radius;
  }

  .react-select__control {
    color: $text-input-color;
    background: $text-input-background-color;
    border: transparent;
    border-radius: $text-input-border-radius;
    height: 46px;
    &.hover {
      border: transparent;
    }
  }

  .react-select__option--is-focused {
    background: $main-background;
  }

  .react-select__option--is-selected {
    background: $main-background;
    color: $default-text;
  }

  .react-select__menu-list {
    box-sizing: border-box;
    width: 100%;
    max-height: 180px;
    overflow: auto;
    background: #f2f2f2;
    border: 2px solid #323242;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: -8px;
    z-index: 1;
  }

  .react-select__control--is-focused {
    @include active-input;
    border-color: transparent !important;
    box-shadow: none;

    .react-select__value-container {
      padding: 7px 13px;
    }
  }
}
