@import './variables';

@media print {
  #newWallet {
    font-size: 0.8em;
    width: 600px !important;
  }
}

html,
body,
#root,
input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: var(--main-background);
}

body {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-color: var(--main-background);
  color: $default-text;
  overflow: hidden;
  :focus {
    outline: none;
  }
}

input {
  font-size: 1.2em;
  padding: 7px 15px;
  border: none;
  font-weight: 300;
  background-color: $dark-input-color;
  color: $default-text;
  :focus {
    outline: none;
  }
}

.notification-link {
  text-decoration: none;
  color: $default-text;
}

#settings,
#tokenSale {
  .description {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .settingsForm {
    margin-bottom: 20px;
  }
  input.scriptHash {
    width: 500px;
  }
  input.neoAmount {
    width: 100px;
  }
  label {
    margin-right: 10px;
  }
  .walletItem {
    width: 100%;
  }
  .settingsItem {
    margin-bottom: 10px;
  }
  .itemTitle {
    font-weight: 800;
    margin-bottom: 5px;
  }
  .walletItem {
    margin-bottom: 3px;
  }
  .walletName,
  .walletKey,
  .deleteWallet {
    display: inline-block;
    margin-right: 10px;
  }
  .walletName {
    width: 25%;
  }
  .walletKey {
    width: 50%;
    font-size: 0.8em;
    font-family: 'courier', monospace;
  }
  .deleteWallet {
    width: 10%;
    opacity: 0.6;
    cursor: pointer;
  }
}

#tokenSale {
  .warning {
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.vertical.Pane1 {
  border-right: 1.5px solid $spacer-color;
}

// TODO: tool-tip seems broken
.__react_component_tooltip {
  &.show {
    opacity: 1 !important;
  }
  &.solidTip {
    background-color: rgba(0, 0, 0, 1);
    z-index: $z-index-tooltip;
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
}
