$warning-red: #ff967e;
$white: #fff;
$text-input-border-radius: 4px;
$text-input-height: 42px;
$text-input-font-size: 14px;

@mixin active-input {
  border: 2px solid var(--input-background);
  border: double 2px transparent;
  background-image: linear-gradient(
      var(--input-background),
      var(--input-background)
    ),
    radial-gradient(circle at top left, #66eb8e, #6bdaf6);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
