@import '../../../styles/animations';

.headerStyle {
  height: auto !important;
}

.tokenBalancesPanelContent {
  padding: 0px 24px !important;
}

a {
  text-decoration: none;
  color: #3063c9;
}

.emptyBalanceContent {
  display: flex;
  align-items: center;
}

.tokenBalancesPanel {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    .refresh {
      cursor: pointer;

      &,
      & path {
        color: #9599a2;
        fill: currentColor;
      }

      &.loading {
        animation: spin 2s linear infinite;
      }
    }
  }

  .tableData {
    min-height: 46px;
    border-bottom: solid thin #f2f2f2;
    padding: 5px 0px 2px 2px;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 15px;
  }

  .tableHeader {
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: -48px;
    margin-right: -48px;
    height: 30px;
    align-items: center !important;
  }

  .tableHeader,
  .tableData {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;

    .symbol {
      flex: 0 0 auto;
      width: 50px;
      margin-right: 25px;
    }

    .tickerName {
      @extend .symbol;
      width: 35px;
      margin-right: 40px;
      color: #5c677f;
      font-weight: 300;
      flex-direction: column;
      display: flex;
      padding-left: 2.5px;
      font-size: 12px;
      text-align: center;
    }

    .name {
      flex: 1 1 auto;
      min-width: 175px;
      margin-right: 10px;
      width: 25%;
      font-weight: bold;
    }

    .priceLabel {
      flex: 1 1 auto;
      font-weight: bold;
    }

    .tokenName {
      font-size: 13px;
      flex: 1 1 auto;
      margin-right: 20px;
      font-weight: 400;
      color: #5c677f;
      min-width: 165px;
      width: 25%;
    }

    .balance {
      flex: 0 0 auto;
      font-size: 13px;
    }

    .balanceValue {
      flex: 0 0 auto;
      width: 70px;
      font-size: 13px;
      font-weight: 300;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .price {
    flex: 1 1 auto;
    margin-right: 16px;
    font-weight: 300;
    font-size: 13px;
  }

  .tableHeader {
    color: #969aa0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .tableData {
    color: #282828;
    align-items: center;
  }

  .tokenImageContainer {
    text-align: center;
  }

  .tokenImage {
    max-height: 25px;
    max-width: 25px;
    width: 100%;
  }
}

.emptyBalanceContainer {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 400px;

  .address {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;

    button {
      margin-bottom: 15px;
      margin-left: -40px;
      z-index: 100;
    }

    input {
      min-width: 375px;
    }
  }

  .headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    svg {
      height: 36px;
      width: 36px;
      margin-right: 15px;
    }
  }

  h1 {
    margin-top: 0;
    font-family: Gotham-Light;
    font-weight: 100;
    font-size: 30px;
    color: #8d98ae;
    line-height: 32px;
    margin-bottom: 0;
  }

  p {
    text-align: center;
    font-size: 14px;
  }
}
