.newsPanel {
  overflow: auto;
  height: 100%;
  // min-height: max-content;
}

.newsPanelContent {
  padding: 12px !important;
}

.newsContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.newsItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // padding-bottom: 48px !important;

  .newsItem {
    cursor: pointer;
    padding: 12px;
    max-width: 320px;
    display: flex;
    flex-direction: column;

    img {
      max-width: 320px;
      border-radius: 6px 6px 0 0;
    }
  }
}

.content {
  border: 1px solid var(--news-content-border-color);
  border-top: none;
  padding: 6px 12px;
  border-radius: 0 0 6px 6px;
  height: 100%;
  text-overflow: ellipsis;
}

.loadMoreButton {
  padding: 24px 0 36px;
  width: 400px;
  max-width: 400px;
  margin: auto;
}
