@import '../../../styles/variables';

.contactsPanel {
  width: 100%;
  height: 100%;

  .name {
    width: 180px;
    text-overflow: ellipsis;
    font-size: 14px;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 12px 24px;

    button {
      background-color: transparent;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .address {
      display: flex;
      align-items: center;
      width: 375px;
      font-size: 14px;
      justify-content: space-between;
      margin-bottom: -5px;
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .actions {
      display: flex;
      align-items: center;

      svg {
        path {
          fill: var(--tx-history-button-icon);
        }
      }

      .editButton {
        width: 100px;
        margin-right: 10px;
      }

      .infoButton {
        width: 150px;
        margin-right: 10px;
      }

      .sendButton {
        width: 150px;
      }

      .deleteButton {
        width: 250px;
      }
    }
  }
}

.contactPanelContent {
  padding: 0 !important;
}

.addButton {
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--panel-header-text);
  text-decoration: none;
  cursor: pointer;

  svg {
    margin-right: 15px;
    height: 24px;
    width: 24px;
  }

  .addIcon {
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }
}

.oddNumberedRow {
  background: var(--contacts-odd-numbered-row);
}

.emptyContactsContainer {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupHeader {
  padding: 10px 24px;
  background-color: var(--contacts-group-header-background);
  color: var(--contacts-group-header-text);
  font-weight: bold;
}

.headerSelect {
  width: 150px;
}
