@import '../../../styles/variables';

.contactsPanel {
  overflow-y: auto;
  height: 100%;

  .name {
    width: 180px;
    text-overflow: ellipsis;
    font-size: 14px;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    align-items: center;
    padding: 12px;
    // justify-content: center;
    // justify-content: space-between;
    flex-wrap: nowrap;
    // padding: 12px 12px 12px 24px;

    button {
      background-color: transparent;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .address {
      display: flex;
      align-items: center;
      width: 375px;
      font-size: 14px;
      justify-content: space-between;
      margin-bottom: -5px;
      span {
        padding-left: 4px;
        margin-bottom: 4px;
        // display: flex;
        // align-items: center;
        text-overflow: ellipsis;
        margin-right: auto;
        overflow: hidden;
      }
    }

    .actions {
      display: flex;
      align-items: center;

      span {
        margin-left: 6px;
      }

      svg {
        path {
          fill: var(--tx-list-button-icon);
        }
      }
    }
  }
}

.contactPanelContent {
  padding: 0 !important;
}

.addButton {
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--contacts-delete-contact-name);
  text-decoration: none;
  cursor: pointer;

  svg {
    margin-right: 15px;
    height: 24px;
    width: 24px;

    path {
      fill: var(--contacts-delete-contact-name);
    }
  }

  .addIcon {
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }
}

.editButton {
  width: 100px;
}

.oddNumberedRow {
  // background: var(--contacts-odd-numbered-row);
}

.emptyContactsContainer {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupHeader {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 24px;
  font-size: 12px;
  background-color: var(--contacts-group-header-background);
  color: var(--contacts-group-header-text);
  font-weight: bold;
}

.headerSelect {
  width: 150px;
}

.confirmDeleteModalPrompt {
  text-align: center;
  width: 100%;

  h2 {
    margin-top: 10px;

    font-size: 18px;
    color: var(--contacts-delete-contact-name);
    text-align: center;
  }
}

.contactRow {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // box-sizing: border-box;
  // width: $size;
  // height: $size;
  border-left: 4px solid transparent;
  // font-size: 24px;
  // display: flex;
  // flex-direction: column;
  // cursor: pointer;
  // text-decoration: none;
  // text-align: center;

  // div {
  //   font-size: 10px;
  //   margin-top: 5px;
  // }

  &,
  & svg,
  & svg path {
    color: var(--sidebar-icon);
    fill: currentColor;
  }

  &.active,
  &:hover {
    // color: var(--sidebar-active-border);
    background: var(--sidebar-active-background);
    border-color: var(--sidebar-active-border);

    &,
    & svg,
    & svg path {
      // color: var(--base-text);
    }
  }
}
