{
    "presets": [
        "react",
        "env",
        "stage-0",
        "flow"
    ],
    "plugins": [
        "transform-async-to-generator",
        "lodash",
        "react-hot-loader/babel"
    ]
}
