{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "globals": {},
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": 1,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
