.modalFooter {
  text-align: right;
  display: flex;
  padding-top: 15px;
}

.actionButton {
  margin-left: 12px;
}

.cancelButton {
  background: none;
  margin-right: 12px;
}

.contentContainer {
  padding: 24px;
}
.formWrapper {
  margin-top: 48px;
  max-height: 70px;
}
