@import '../../styles/variables';

.dialogueBox {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-grey;
  font-size: 0.8rem;
  width: 80%;
  margin: 40px auto;
  border-radius: 3px;
  padding: 15px;
  max-width: 600px;
  box-sizing: border-box;

  svg {
    margin-right: 10px;
    min-height: 24px;
    min-width: 24px;

    path {
      fill: #ee6d66;
    }
  }
}
