@import '../../../../styles/variables';

.tokenSaleConfirmDetailsHeading {
  font-size: 0.8rem;
  margin-top: 25px;
  font-weight: 200;
  text-transform: uppercase;
  color: $medium-grey;
}

.tokenSaleConfirmDetailsContainer {
  padding: 15px;
  background-color: $light-grey;
  border-radius: 3px;
}

.tokenSaleConfirmDetailsSecondaryHeading {
  font-size: 1rem;
  font-weight: bold;
}

.tokenSaleConfirmDetailsMainHeading {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
  justify-content: center;
}

.tokenSaleConfirmDetailsCheckMarkSVG {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.tokenSaleConfirmDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
}
