.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  flex: 1;
  width: 500px;
}

.inputContainer {
  height: 100%;
}

.createWalletForm {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex: 1;
}

.iconDisplay {
  display: flex;
  margin-right: 10px;
}

.loginButtonMargin {
  margin-top: auto;
  margin-bottom: 40px;
}
