@import '../../styles/variables';

.optionButton {
  cursor: pointer;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  padding: 10px;
  border-radius: $text-input-border-radius;
  color: #a2a6ad;
}

.activeOptionButton {
  @extend .optionButton;
  background-color: $text-input-background-color;
  color: $default-text;
}
