.childrenContainer {
  padding: 0 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 420px;
}

.title {
  font-size: 25px;
  text-align: center;
  color: var(--base-text);
  margin-top: -10px;
}

.subtitle {
  font-size: 12px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0px;
  color: va(--base-secondary);
}

.description {
  font-size: 12px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0px;
  color: var(--base-text-light);
}

.note {
  font-size: 12px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0px;
  color: var(--base-text-middle);
}

.button {
  max-width: 250px;
  width: 100%;
  margin-top: 28px;
}
