.tokenSaleSelectionContainer {
  display: flex;
  justify-content: space-evenly;
}

.tokenSaleSelectTokenContainer,
.tokenSaleContributionSelectToken,
.tokenSaleContributionAmount {
  display: flex;
  flex-direction: column;
}

.tokenSaleSelectTokenContainer,
.tokenSaleContributionSelectToken {
  max-width: 120px;
}

.tokenSaleContributionSelectToken {
  margin-right: 15px;
}

.tokenSaleContributionContainer {
  display: flex;
}

.tokenSaleSelectionHeader {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.tokenSaleContributionNumberInput {
  width: 178px;
}

.tokenPurchaseSelect {
  min-width: 100px;
}
