.newsPanel {
  height: 100%;
  overflow: auto;
}

.newsPanelContent {
  padding: 12px !important;
}

.newsContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.newsItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .newsItem {
    cursor: pointer;
    padding: 12px;
    max-width: 320px;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0;
    }

    code {
      font-size: 9px;
    }

    .collectionName {
      opacity: 0.5;
    }

    img {
      // max-width: 250px;
      border: 1px solid var(--news-content-border-color);
      border-radius: 6px 6px 0 0;
    }
  }
}

.content {
  border: 1px solid var(--news-content-border-color);
  border-top: none;
  padding: 6px 12px;
  border-radius: 0 0 6px 6px;
  height: 100%;
  text-overflow: ellipsis;
}

.placeholderContainer {
  border: 1px solid var(--news-content-border-color);
  svg {
    width: 300px;
    opacity: 0.1;
  }

  svg path {
    fill: var(--base-text);
  }
}

// .foo {
//   max-width: 200px;
// }

// .newsImage {
//   max-width: 100px;
// }

.loadMoreButton {
  margin: 24px 0;
  width: 400px;
  max-width: 400px;
}

.empty {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonLoadingIndicator {
  position: relative;
  // margin-top: 29px;
  width: 15px;
  height: 30px;
  opacity: 0.4;
  margin: auto;
  // margin-top: 29px;
  left: auto;
  top: auto;
  transform: none;
}
