@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 50px;
  padding: 0 24px;
  font-family: Gotham-Book;
  font-size: 14px;
  background: var(--panel-header);
  color: var(--panel-header-text);
}
