@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 50px;
  padding: 0 24px;
  background: $light-grey;
  color: $dark-grey;
}
