@import '../../styles/variables';

.zeroAssets {
  display: flex;
  padding: 20px;
  align-items: center;
  width: 500px;
  margin: auto;

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--base-link-color);
  }

  .address {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;

    button {
      margin-bottom: 15px;
      margin-left: -40px;
      z-index: 100;
    }

    input {
      min-width: 450px;
    }
  }

  .zeroAssetsHeaderText {
    font-weight: 300;
    font-size: 2em;
    margin: 0;
  }
}
