$panel-top-margin: 25px;

.settingsContainer {
  .networkSwitchContainer {
    display: flex;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .settingsPanel {
    margin-top: $panel-top-margin;

    .settingsPanelHeader {
      display: flex;

      .settingsPanelHeaderItem {
        flex: auto;

        &:first-child {
          color: #282828;
        }

        &:last-child {
          text-align: right;
          color: #8d98ae;
          font-size: 14px;
          a {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .settingsDonations {
      font-size: 12px;
      color: #282828;
      padding-top: 10px;
      text-align: center;
      justify-content: center;
      display: flex;
      text-decoration: none;
    }
  }

  $add-icon-size: 24px;

  .headerButtonContainer {
    display: flex !important;
    cursor: pointer;
    align-items: center;
    font-size: 14px;

    .add {
      svg {
        width: $add-icon-size;
        height: $add-icon-size;
      }

      width: $add-icon-size;
      height: $add-icon-size;
      margin-right: 10px;
    }
  }

  .settingsItemsContainer {
    max-width: 500px;
    margin: 20px auto;
  }

  .settingsSelectContainer {
    display: flex;
    flex: 1;
  }
}
