.settingsContainer {
  padding: 0 24px;
}

$panel-top-margin: 25px;

.settingsPanel {
  margin-top: $panel-top-margin;

  .settingsPanelHeader {
    display: flex;

    .settingsPanelHeaderItem {
      flex: auto;

      &:first-child {
        color: #282828;
      }

      &:last-child {
        text-align: right;
        color: #8d98ae;
        font-size: 14px;
      }
    }
  }

  .settingsDonations {
    font-size: 12px;
    color: #282828;
    padding-top: 10px;
    text-align: center;
  }
}

$add-icon-size: 24px;

.headerButtonContainer {
  display: flex !important;
  cursor: pointer;
  align-items: center;

  .add {
    svg {
      width: $add-icon-size;
      height: $add-icon-size;
    }

    width: $add-icon-size;
    height: $add-icon-size;
    margin-right: 10px;
  }
}

.settingsItemsContainer {
  max-width: 500px;
  margin: 20px auto;
}
