$panel-top-margin: 25px;

.panelContent {
  padding: 0 !important;
}

.settingsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .networkSwitchContainer {
    display: flex;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .settingsSwitchContainer {
    justify-content: flex-end;
    // margin-right: 24px;
    align-self: flex-end;
  }

  .settingsPanel {
    height: 100%;

    .settingsPanelHeader {
      display: flex;

      .settingsPanelHeaderItem {
        flex: auto;

        &:last-child {
          text-align: right;
          color: #8d98ae;
          font-size: 14px;
          a {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .settingsDonations {
      font-size: 12px;
      margin: 12px 0;
      text-align: center;
      justify-content: center;
      display: flex;
      text-decoration: none;
      font-family: Gotham-Book;
      font-size: 10px;
      color: var(--settings-donation-text);
      letter-spacing: 0.4px;
      text-align: center;
    }
  }

  $add-icon-size: 24px;

  .headerButtonContainer {
    display: flex !important;
    cursor: pointer;
    align-items: center;
    font-size: 14px;

    .add {
      width: $add-icon-size;
      height: $add-icon-size;
      margin-right: 10px;
    }
  }

  .settingsItemsContainer {
    max-width: 450px;
    margin: auto;
  }

  .settingsSelectContainer {
    display: flex;
    max-width: 150px;
    flex: 1;
  }
}

.settingsSpacer {
  opacity: 0.35;
  background: var(--settings-spacer);
  height: 20px;
  width: 100%;
}
