.portfolioPanel {
  height: 100%;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    padding: 12px 12px 12px 0;

    .chart {
      flex: 0 0 auto;
    }

    .table {
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
