.portfolioRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px 10px 40px;
  align-items: center;
  width: 100%;

  .color,
  .symbol,
  .balance,
  .value,
  .percent {
    font-size: 13px;
    font-weight: 100;
    color: #394152;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
  }

  .color {
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .percent {
    color: #969aa0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.oddColor {
  background-color: #f8f8f8;
}
