.portfolioPanel {
  height: 100%;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    padding: 12px 24px 12px 0;

    .chart {
      flex: 0 0 auto;
    }

    .table {
      overflow-x: hidden;
      overflow-y: hidden;

      align-items: center;
      align-self: center;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.emptyBalanceContainer {
  width: 100%;
  padding: 12px;
}
