@import '../../../styles/variables';

.transactionInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 100%;

  .transactions {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.updateLoader {
  right: 0;
  left: auto;
  top: -5px;
}

.oddNumberedRow {
  background: #f8f8f8;
}

.transactions {
  margin: -24px;
}

.loadMoreButton {
  height: 40px;
}

.transactionHistoryPanel {
  margin-top: -12px;
}

.buttonLoadingIndicator {
  position: relative;
  width: 15px;
  height: 15px;
  opacity: 0.4;
  margin: auto;
  left: -10px;
  top: auto;
  transform: none;
}
