@import '../../../styles/variables';

.noTransactions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transactionList {
  margin: 0;
  padding: 0;
  margin: -24px;
}

.row {
  display: flex;
  list-style-type: none;
  font-weight: 200;
  padding: 10px 20px;
  height: 50px;

  .txid {
    flex: 0 0 auto;
    align-items: center;
    display: flex;
  }
}

.txid {
  text-align: left;
  font-family: 'courier new';
  font-size: 0.7em;
}

.amounts {
  .amount {
    display: block;
    text-align: right;
    color: $thin-text-color;
  }
}

.oddNumberedRow {
  background-color: #f2f2f2;
}
