@import '../../../styles/variables';

.transactionInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 100%;

  .transactions {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.updateLoader {
  right: 0;
  left: auto;
  top: -5px;
}

.oddNumberedRow {
  background: #f8f8f8;
}
