@import '../../../styles/variables';

$size: 70px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: $size;
  background: var(--sidebar-background);
  padding-top: 12px;
  box-shadow: var(--sidebar-shadow);
  position: relative;
  z-index: 10;

  .group {
    flex: 0 0 auto;

    .logoutToolTipGroup {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      width: $size;
      height: $size;
    }
  }
}

.blockHeight {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 5px;
  flex-direction: column;
  min-height: 19px;
  max-height: 19px;

  .heightText {
    opacity: 0.6;
    font-size: 6px;
    display: flex;
  }
}

.logo {
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 34.34px;
    height: 30.55px;
  }
}

.pendingTransactionsCount {
  position: fixed;
  height: 24px;
  width: 24px;
  background-color: var(--input-error);
  margin-top: -22px !important;
  margin-left: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-gotham-book);
  font-size: 14px !important;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-left: 4px solid transparent;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  div {
    font-size: 10px;
    margin-top: 5px;
  }

  &,
  & svg,
  & svg path {
    color: var(--sidebar-icon);
    fill: currentColor;
  }

  &.active,
  &:hover {
    background: var(--sidebar-active-background);
    border-color: var(--sidebar-active-border);

    &,
    & svg,
    & svg path {
      color: var(--base-text);
    }
  }
}

.disabledNavIem {
  @extend .navItem;
  cursor: default;
  opacity: 0.3;

  &.active,
  &:hover {
    background: var(--side-bar-disabled-item-background);
    border-image: none;
  }
}
