@import '../../../styles/variables';

$size: 64px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: $size;
  background: #f2f2f2;

  .group {
    flex: 0 0 auto;
  }
}

.logo {
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-left: 2px solid transparent;
  font-size: 24px;
  cursor: pointer;

  &,
  & svg,
  & svg path {
    color: #9599a2;
    fill: currentColor;
  }

  &.active,
  &:hover {
    background: #fff;
    border-image: linear-gradient(to bottom, #66eb8e, #6bdaf6) 1 100%;

    &,
    & svg,
    & svg path {
      color: #394152;
    }
  }
}
