@import '../../../styles/variables';

$size: 64px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: $size;
  background: #fff;

  .group {
    flex: 0 0 auto;

    .logoutToolTipGroup {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      width: $size;
      height: $size;
    }
  }
}

.logo {
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
  }
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-left: 4px solid transparent;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;

  div {
    font-family: Gotham-Book;
    font-size: 10px;
    margin-top: 5px;
  }

  &,
  & svg,
  & svg path {
    color: #9599a2;
    fill: currentColor;
  }

  &.active,
  &:hover {
    background: #fff;
    border-color: #5abf6b;

    &,
    & svg,
    & svg path {
      color: #394152;
    }
  }
}

.disabledNavIem {
  @extend .navItem;
  cursor: default;
  opacity: 0.3;

  &.active,
  &:hover {
    background: #fff;
    border-image: none;
  }
}
