@import '../../../styles/variables';

.underlinedHeader {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid darken($light-grey, 15%);
  justify-content: space-between;
  align-items: center;
  margin-top: -24px;
}

.underlinedHeading {
  font-size: 1rem;
}

.underlinedHeaderSelect {
  background: none;
  max-width: 200px;
}

.underlinedHeaderSelectTextBox {
  background: none;
  border: none;
  color: #000;
}

.underlinedHeaderRefreshButton {
  display: flex;
  border: none;
  align-items: center;
  background: transparent;
  font-size: 1rem;
}

.underlinedHeaderRefreshIcon {
  margin-right: 5px;
}
