$settings-link-color: #66ed87;

.settingsLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--settings-item-border-color);
  padding: 5px 0;
  max-height: 45px;
  height: 45px;
  text-decoration: none;
  font-family: Gotham-Bold;
  font-size: 12px;
  color: var(--settings-item-label);

  .settingsLinkLabel {
    flex: 1;
    font-size: 12px;
  }

  .settingsLinkIcon {
    path {
      fill: var(--settings-item-icon);
    }
    transform: rotate(-90deg);
  }
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;

  svg {
    min-width: 17px;
    min-height: 17px;
    max-width: 17px;
    max-height: 17px;

    path {
      fill: var(--settings-item-icon);
    }
  }
}

label {
  min-width: 75px;
}

.greyLabel {
  font-family: Gotham-Bold;
  font-size: 12px;
  color: var(--settings-item-icon);
  min-width: 200px;
  text-align: right;
  margin-right: 24px;
}

.greenLabel {
  font-family: Gotham-Bold;
  font-size: 12px;
  color: var(--settings-link-text);
}

.noBorderBottom {
  border-bottom: none;
}
