.formContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.removeNetwork {
  svg {
    margin-right: 10px;
    min-height: 24px;
    min-width: 24px;

    path {
      fill: #d355e7 !important;
    }
  }
}
