.transactionOutput {
  background-color: var(--panel-header);
  font-size: 10px;
  width: 525px;
  padding: 12px;
  height: 290px;
  margin: 12px 0 24px 0;
  overflow: auto;
}

.contentContainer {
  padding: 0 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonContainer {
  display: flex;
  margin-bottom: 24px;

  button:first-child {
    margin-right: 24px;
  }

  button:nth-child(2) {
    svg {
      max-width: 20px;
    }
  }
}
