.priceHistoryChart {
  font-size: 12px;
  display: flex;
  flex: 1;
  align-self: center;
}

.tooltipContainer {
  display: flex;
  padding: 10px;
  background: #394152;
  border-radius: 4px;
  font-family: var(--font-gotham-book);
  font-size: 12px;
  color: #ffffff;
  text-align: center;

  .tooltipTime {
    opacity: 0.5;
    font-family: var(--font-gotham-book);
    margin-right: 10px;
  }
}
