.priceHistoryPanel {
  display: flex;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .asset {
      display: flex;
      align-items: center;
      font-family: var(--font-gotham);
      color: #969aa0;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;

      > * {
        flex: 0 0 auto;
      }

      svg,
      svg path {
        fill: currentColor;
      }
    }
  }
}

.change {
  color: #fff;
  line-height: 12px;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  border-radius: 2px;
  margin-left: 10px;

  &.increase {
    background: #5abf6b;
  }

  &.decrease {
    background: #ee6d66;
  }
}

.currentPrice {
  margin-left: 10px;
  color: var(--dashboard-price-history-current-price);
}

.flexContainer {
  display: flex;
  overflow-y: hidden !important;
  height: 100%;
}
