@import '../../../styles/variables';
@import '../../../styles/animations';

.sendPageHeader {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid darken($light-grey, 15%);
  justify-content: space-between;
  align-items: center;
  margin-top: -24px;
}

.sendPageHeading {
  font-size: 1rem;
}

.sendPageHeaderSelect {
  background: none;
  max-width: 200px;
}

.sendPageHeaderSelectTextBox {
  background: none;
  border: none;
  color: #000;
}

.sendPageHeaderRefreshButton {
  display: flex;
  border: none;
  align-items: center;
  background: transparent;
  font-size: 1rem;
}

.sendPageHeaderRefreshIcon {
  margin-right: 5px;
}

.headerButtonContainer {
  display: flex !important;
  cursor: pointer;
  align-items: center;

  .refresh {
    cursor: pointer;
  }

  .loading {
    animation: spin 2s linear infinite;
  }

  span {
    margin-right: 10px;
  }
}
