@import '../../styles/variables';

$navigation-height: 65px;
$navigation-margin: 20px;

.input {
  width: 100%;
  margin: 10px;

  &,
  & input {
    cursor: pointer;
  }
}

.backButton {
  align-self: flex-start;
  margin: $navigation-margin;
  max-height: $navigation-height;
  min-height: $navigation-height;
}

.loginButtonMargin {
  margin-top: auto;
}

.inputMargin {
  margin-bottom: -10px;
}

.ledgerStatusText {
  font-weight: lighter;
  margin-top: 0;
}

.ledgerStatusTextError {
  @extend .ledgerStatusText;
  color: red;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.dropdownRow {
  display: flex;
  flex-direction: row;
}

.innerHomeContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 550px;
  width: 600px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
  flex: 1;
}

.buttonContainer {
  flex: 0.4;
  a {
    text-decoration: none;
  }
}

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 20px 25px 20px;

  h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0 0 0 20px;
  }
}

.logoWithNegativeMargin {
  margin-top: -75px;
}

.homeTabs {
  width: 100%;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .homeTabPanel {
    height: 100%;
  }

  ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;

    li {
      display: flex;
      margin: auto;
      font-size: 12px;
      color: #ced0d4;
      cursor: pointer;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: solid #ced0d4 1px;
      justify-content: center;
    }

    li[aria-selected='true'] {
      font-weight: bold;
      color: $default-text;
      border-bottom: solid $default-text 2px;
    }
  }
}

.loginContentContainer {
  height: 200px;
}

.loginHeader {
  font-family: Gotham-Light;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 32px;
}

.logo {
  width: 172px;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.versionNumber {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #ced0d4;
  opacity: 0.7;
}
