@import '../../styles/variables';

$navigation-height: 65px;
$navigation-margin: 20px;

.input {
  width: 100%;
  margin: 10px;

  &,
  & input {
    cursor: pointer;
  }
}

.backButton {
  align-self: flex-start;
  margin: $navigation-margin;
  max-height: $navigation-height;
  min-height: $navigation-height;
}

.loginButtonMargin {
  margin-top: 20px;
}

.inputMargin {
  margin-bottom: 10px;
}

.ledgerStatusText {
  font-weight: lighter;
  margin-top: 0;
}

.ledgerStatusTextError {
  @extend .ledgerStatusText;
  color: red;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dropdownRow {
  display: flex;
  flex-direction: row;
}

.innerHomeContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  height: 75vh;
  margin: auto;
  min-height: 750px;
  min-width: 750px;
}

.createWalletOptionRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
  flex: 1;
}

.buttonContainer {
  flex: 0.45;

  a {
    text-decoration: none;
  }
}

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.logo {
  max-height: 100px;
  padding-top: 100px;
  padding-bottom: 140px;
  max-width: 100px;
}

.logoWithNegativeMargin {
  @extend .logo;
  margin-top: $navigation-height * -1 + ($navigation-margin * 2) * -1;
}

.loginText {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}
