@import '../../styles/variables';
@import '../../styles/animations';

$navigation-height: 65px;
$navigation-margin: 20px;

.input {
  width: 100%;
  margin: 10px;

  &,
  & input {
    cursor: pointer;
  }
}

.backButton {
  align-self: flex-start;
  margin: $navigation-margin;
  max-height: $navigation-height;
  min-height: $navigation-height;
}

.loginButtonMargin {
  margin-top: auto;
}

.inputMargin {
  margin-bottom: -10px;
}

.selectMargin {
  margin-bottom: 10px;
}

.loginButtonRow {
  display: flex;
  margin-top: auto;
  button:first-child {
    margin-right: 12px;
  }
  button:last-child {
    margin-right: 0;
  }
}

.privateKeyLoginLoader {
  min-height: 17px;
}

.loginButtonRowScannerActive {
  button {
    width: 140px;
    margin: auto;
    margin-top: 10px;
  }
}

.privateKeyInput {
  font-size: 12px;
  &::placeholder {
    font-size: 14px;
  }
}

.scannerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: -40px;
  height: 178px;
  position: relative;
}

.ledgerStagesContainer {
  margin: -40px 0 15px 0;
}

.ledgerStageText {
  margin: 0 0 0 12px;
  padding: 6px 0;
  width: 100%;
}

.ledgerStage {
  font-family: var(--font-gotham-book);
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  border: 1px solid transparent;
  width: 410px;
  min-height: 45px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 14px;
  border-color: #ddd;
  box-sizing: border-box;
  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-color: transparent;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .ledgerStatusIconContainer {
    min-width: 35px;
    max-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;

    svg {
      min-width: 24px;
    }
  }
}

.fetchAdditionalLedgerKeysLink {
  font-size: 12px;
  cursor: pointer;
}

.errorLoadingPublicKeysContainer {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    font-size: 12px;
    color: var(--input-error);
  }
  a {
    margin-left: 4px;
  }
}

.ledgerStageIcon {
  path {
    fill: #66ed87;
  }
}

.ledgerStageActive {
  opacity: 1;
  border-color: #66eb8e;
  &:first-child {
    border-bottom-color: #66eb8e;
  }

  .ledgerStageIcon {
    path {
      fill: #5c677f;
    }
  }
}

.ledgerStageCompleted {
  opacity: 1;
}

.ledgerStageRefreshIcon {
  @extend .ledgerStageIcon;
  animation: spin 2s linear infinite;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.dropdownRow {
  display: flex;
  flex-direction: row;
}

.innerHomeContainer {
  background-color: var(--auth-main-container-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 550px;
  width: 600px;
  box-shadow: var(--auth-inner-container-box-shadow);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
  flex: 1;

  button {
    background: transparent !important;
  }
}

.buttonContainer {
  flex: 0.4;
  a {
    text-decoration: none;
  }
}

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 20px 25px 20px;

  h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0 0 0 20px;
  }
}

.logoWithNegativeMargin {
  margin-top: -75px;
}

.homeTabPanel {
  height: 100%;
}

.loginContentContainer {
  height: 200px;
}

.loginHeader {
  font-weight: 300;
  width: 500px;
  display: flex;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  line-height: 32px;
  font-family: var(--font-gotham-light);
  font-size: 30px;
  color: var(--base-text);
}

.logo {
  width: 252px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.versionNumber {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ced0d4;
  opacity: 0.7;
  cursor: pointer;
  z-index: 19;
}

.centeredInput {
  margin-top: 20px;
}

.chainToggleContainer {
  margin-bottom: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    margin: 0 24px;
  }

  h5 {
    margin: 0;
  }
}
