@import '../../styles/variables';

.linkBox {
  display: inline-block;
  background-color: $bright-button;
  width: ($page-width / 4) - ((2*$box-padding) + ($box-margin));
  height: 120px;
  padding: $box-padding;
  margin: 0px $box-margin $box-margin 0px;
  font-size: 1.4em;
  font-weight: 200;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}

.linkBoxAlt {
  background-color: $dark-button;
}
