@import '../../styles/variables';
@import '../../styles/animations';

$navigation-height: 65px;
$navigation-margin: 20px;

.input {
  width: 100%;
  margin: 10px;

  &,
  & input {
    cursor: pointer;
  }
}

.backButton {
  align-self: flex-start;
  margin: $navigation-margin;
  max-height: $navigation-height;
  min-height: $navigation-height;
}

.loginButtonMargin {
  margin-top: auto;
}

.inputMargin {
  margin-bottom: -10px;
}

.selectMargin {
  margin-bottom: 10px;
}

.privateKeyLoginButtonRow {
  display: flex;
  margin-top: auto;
  button:first-child {
    margin-right: 12px;
  }
  button:last-child {
    margin-right: 0;
  }
}

.privateKeyLoginLoader {
  min-height: 17px;
}

.privateKeyLoginButtonRowScannerActive {
  button {
    width: 200px;
    margin: auto;
    background: var(--button-secondary-hover) !important;

    svg {
      path {
        fill: #ff967e !important;
      }
    }
  }
}

.scannerContainer {
  display: flex;
  justify-content: center;
  min-height: 150px;
  video {
    min-width: 350px;
    margin-top: -40px;
    margin-bottom: 12px;
  }
}

.ledgerStage {
  font-family: Gotham-Book;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  border: 1px solid transparent;
  width: 380px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 14px;
  height: 45px;
  border-color: #ddd;
  box-sizing: border-box;
  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-color: transparent;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.ledgerStageIcon {
  path {
    fill: #66ed87;
  }
}

.ledgerStageActive {
  opacity: 1;
  border-color: #66eb8e #6bdaf6 #6bdaf6 #66eb8e;
  &:first-child {
    border-bottom-color: #6bdaf6;
  }

  .ledgerStageIcon {
    path {
      fill: #5c677f;
    }
  }
}

.ledgerStageCompleted {
  opacity: 1;
}

.ledgerStageRefreshIcon {
  @extend .ledgerStageIcon;
  animation: spin 2s linear infinite;
}

.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.dropdownRow {
  display: flex;
  flex-direction: row;
}

.innerHomeContainer {
  background-color: var(--auth-main-container-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 550px;
  width: 600px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
  flex: 1;

  button {
    background: var(--auth-secondary-button-background) !important;
  }

  button:hover {
    background: var(--button-secondary-hover) !important;
  }

  button:disabled {
    background: transparent !important;
  }
}

.buttonContainer {
  flex: 0.4;
  a {
    text-decoration: none;
  }
}

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 20px 25px 20px;

  h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0 0 0 20px;
  }
}

.logoWithNegativeMargin {
  margin-top: -75px;
}

.homeTabPanel {
  height: 100%;
}

.loginContentContainer {
  height: 200px;
}

.loginHeader {
  font-family: Gotham-Light;
  font-weight: 300;
  width: 500px;
  display: flex;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  line-height: 32px;
  font-family: Gotham-Light;
  font-size: 30px;
  color: var(--base-text);
}

.logo {
  width: 172px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.versionNumber {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #ced0d4;
  opacity: 0.7;
}

.centeredInput {
  margin-top: 20px;
}
