@import '../../../styles/variables';

.amountsInfoBox {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 14px;
  color: #5c677f;
  border-right: 1px solid var(--main-background);
  background-color: #f2f2f2;
  justify-content: space-between;

  .assetName {
    padding-right: 15px;
    font-family: Gotham-Light;
    font-size: 14px;
    position: relative;

    img {
      max-height: 25px;
    }
  }

  .assetAmount {
    font-family: Gotham-Medium;
  }

  .assetWorth {
    font-family: Gotham-Book;
  }
}

.amountsInSingleRow {
  height: 70px;
  &.amountsInfoBox {
    &:last-child {
      border-right: 0;
    }
  }
}

.amountsInMultipleRows {
  height: 35px;
  &.amountsInfoBox {
    &:nth-child(5n) {
      border-right: 0;
    }
  }
}

.amountsInAltColor {
  background-color: #fff;
}
