@import '../../../styles/variables';

.amountsInfoBox {
  display: flex;
  justify-content: center;
  height: 50px;
  max-width: 320px;
  min-width: 280px;
  margin: 10px;
  padding: 5px 15px;

  &:last-child {
    margin-right: 0;
  }

  h3,
  p {
    font-weight: normal;
    margin: 0;
  }

  .assetAmountsPrimary {
    font-family: Gotham-Medium;
    font-size: 20px;
  }

  h3 {
    font-family: Gotham-Light;
    font-size: 20px;
  }

  .assetTitle,
  .assetAmounts {
    height: 100%;
    margin-right: 7px;
  }

  .assetAmounts,
  .assetValue {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .assetAmountsPrimary {
    font-weight: bold;
  }

  .totalAssetValue {
    font-family: Gotham-Book;
    font-size: 20px;
    margin-top: 1px;
  }

  .assetAmountsSecondary {
    color: $medium-grey;
    font-family: Gotham-Medium;
    font-size: 14px;
    margin-top: 5px;
  }

  .remainingAssetValue {
    font-family: Gotham-Book;
    font-size: 14px;
    margin-top: 5px;
    color: $medium-grey;
  }
}
