@import '../../../styles/variables';

.amountsInfoBox {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 14px;
  border-right: 1px solid var(--main-background);
  background-color: var(--amounts-panel-first-row-background);
  justify-content: space-between;

  .assetName {
    padding-right: 10px;
    font-family: Gotham-Light;
    font-size: 14px;
    position: relative;

    img {
      max-height: 25px;
    }
  }

  .assetAmount {
    font-family: Gotham-Medium;
    color: var(--amounts-panel-asset-amount-text);
  }

  .assetWorth {
    font-family: Gotham-Book;
    color: var(--amounts-panel-asset-worth-text);
  }

  .assetName,
  .assetAmount,
  .assetWorth {
    white-space: nowrap;
  }
}

.amountsInSingleRow {
  height: 70px;
  &.amountsInfoBox {
    &:last-child {
      border-right: 0;
    }
  }
}

.amountsInMultipleRows {
  height: 35px;
  &.amountsInfoBox {
    &:nth-child(5n) {
      border-right: 0;
    }
  }
}

.amountsInAltColor {
  background-color: var(--amounts-panel-second-row-background);
}
