@import '../../../styles/variables';

.amountsInfoBox {
  display: flex;
  align-items: center;
  width: 230px;
  box-sizing: border-box;
  font-size: 14px;
  border-right: 1px solid var(--main-background);
  font-family: Gotham-Book;
  background-color: #f2f2f2;

  &:last-child {
    border-right: 0;
  }

  .assetName {
    padding: 0 10px;
  }

  .assetAmount {
    padding-right: 20px;
    width: 100px;
  }
}

.amountsInSingleRow {
  height: 70px;
}

.amountsInMultipleRows {
  height: 35px;
}

.amountsInAltColor {
  background-color: #d6d6d6;
}
