@import '../../../styles/animations';

.refreshButtonSpan {
  margin-left: 6px;
}

.refresh {
  cursor: pointer;
}

.refreshButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 24px;
}

.loading {
  animation: spin 2s linear infinite;
}
