@import '../../styles/animations';

.migrationPanelContent {
  padding: 0 !important;
  display: flex;
  height: calc(100vh - 100px) !important;
  overflow: hidden !important;
  // max-height: calc(100vh - 120px) !important;
}

.section {
  height: 100%;
  max-height: calc(100vh - 120px) !important;
  // display: flex;
  // flex-direction: column;
  // flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.migrationPanel {
  height: 100%;
  max-height: calc(100vh - 100px) !important;
}

.explanationContainer {
  max-width: 305px;
  height: 100%;
  max-height: calc(100vh - 120px) !important;
}

.buttonsContainer {
  display: flex;
  width: 100%;

  .innerButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px;

    background: var(--input-background);
    button {
      max-width: 215px;
    }
  }

  // .explanationPlaceholder {
  //   width: 305px;
  //   min-width: 305px;
  //   max-width: 305px;
  //   padding: 24px;
  //   background: var(--panel-receive-explanation);
  // }
}

.tokenSwapContainer {
  padding: 24px;
  overflow: hidden !important;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.loader {
  position: relative;
  left: unset;
  top: unset;
}

.refreshButtonSpan {
  margin-left: 6px;
}

.refresh {
  cursor: pointer;
}

.refreshButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 24px;

  svg {
    path {
      fill: var(--header-bar-default-icon-color);
    }
  }
}

.loading {
  animation: spin 2s linear infinite;
}

.confirmWalletCreation {
  // min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-bottom: 0px;
  }

  code {
    font-size: 14px;
  }

  small {
    margin-bottom: 24px;
  }

  .fee {
    font-size: 13px;
  }
}

.modalFooter {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 12px;

  button,
  div {
    max-width: 225px;
    margin-bottom: 12px;
  }

  small {
    font-size: 10px;
  }
}
