.receivePanel {
  width: 600px;

  .qrcode {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;
    margin: 0 -24px 48px;
    border-bottom: 1px solid #ccc;
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0 60px 24px;
    padding: 0 24px;
    background: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;

    .link {
      flex: 0 0 auto;
      color: #282828;
    }

    .copy {
      flex: 0 0 auto;
    }
  }
}
