@import '../../../styles/variables';

// .receivePanel {
//   display: flex;
//   flex-direction: column;
// }

.dynamicReceiveContent {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.receivePanelContent {
  display: flex;
  padding: 0;
  overflow: hidden !important;
  flex-direction: column;
}

.receivePanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .receivePanelHeaderInfo {
    display: flex;
    color: $dark-grey;
  }
}

.walletAddressContainer {
  display: flex;
  align-items: center;

  .description {
    margin-right: 16px;
    color: $medium-grey;
  }

  .address {
    font-weight: 500;
  }
}

.copy {
  svg {
    path {
      fill: #69e27e;
    }
  }
}

.dynamicReceiveContent {
  display: flex;
}

.tabs {
  background: #f8f8f8;

  ul {
    margin-bottom: 0 !important;
    margin: 20px auto;
    padding-bottom: 15px !important;
    width: 400px;
  }
}

.defaultReceiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .warningIcon {
    path {
      fill: #ee6d66;
    }
  }

  canvas {
    margin-bottom: 20px;
    min-height: 225px;
    min-width: 225px;
  }
}
