@import '../../../styles/variables';

.sendPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  .sendPanelHeaderInfo {
    display: flex;
    flex: 0.4;
  }

  .sendPanelHeaderInfo,
  .sendPanelRecipients {
    color: var(--panel-header-text);
  }

  .sendPanelRecipients {
    margin-left: 15px;
  }

  .sendPanelHeaderButtons {
    display: flex;
    flex: 0.4;
    justify-content: flex-end;
  }

  .priorityTrasferHeaderTextContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0.2;
    font-weight: 200;
    font-size: 14px;
    color: #ffcf48;

    svg {
      margin-right: 10px;
    }
  }

  .sendPanelHeaderButton {
    border: none;
    background: transparent;
    padding: 8px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    width: 170px;
    font-size: 1rem;
    color: var(--base-text);
    align-items: center;
    cursor: pointer;

    &[disabled] {
      cursor: default;
      opacity: 0.6;
    }

    .sendPanelHeaderButtonIcon {
      color: var(--panel-header-text);
      margin-right: 10px;
    }
    svg {
      width: 24px;

      path {
        fill: #69e27e;
      }
    }
  }
}

.enterQrHeaderButton {
  @extend .sendPanelHeaderButton;
  margin-right: 5px;
}

.disabledFeature {
  display: flex !important;
  cursor: default;
}

.confirmButtonsContainer {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: auto;

  button {
    width: 200px;
  }
}

.confirmationFees {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: Gotham-Book;
  font-size: 12px;
  color: #8d98ae;
  text-align: center;
  width: 450px;
  margin: auto;

  p {
    width: 190px;
    text-align: center;
    align-self: flex-end;
    padding: 0 15px;
  }
}

.sendFormButton {
  width: 450px;
  margin: 12px auto 50px auto;
}

.confirmButtonsContainer {
  display: flex;
  justify-content: center;
}

.confirmSendButtons {
  margin: 0 15px;
  width: 200px;
}

.sendSuccessContent {
  padding: 0;
}

.sendSuccessPanel {
  height: 100%;
}

.priorityExplanationText {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  opacity: 0.5;
  font-family: Gotham-Bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.priorityFeeContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.priorityFeeButtonContainer {
  display: flex;
  justify-content: center;

  .feeCost {
    font-size: 11px;
    font-weight: 100 !important;
  }

  .speed {
    font-weight: 400;
  }

  button:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none !important;
    display: flex;
    flex: 2.25;
  }
  button:nth-child(2) {
    border-radius: 0;
    border-right: none !important;
    display: flex;
    flex: 2;
  }
  button:nth-child(3) {
    border-radius: 0 4px 4px 0;
    display: flex;
    flex: 1.5;
  }
  button {
    margin: 0;
    border: solid thin #8d98ae !important;
  }
}
