@import '../../../styles/variables.scss';

.modalHeader {
  display: flex;
  justify-content: center;
  height: 45px;
  position: relative;
  padding: 8px 0;
  background-color: var(--panel-header);
}

.modalHeaderTitle {
  display: flex;
  align-items: center;

  img {
    width: 100px;
  }
}

.modalHeaderButton {
  width: 60px;
  height: 100%;
  position: absolute;

  cursor: pointer;
  background: transparent;
  border: none;

  svg {
    width: 25px;
    height: 25px;
  }
}

.modalHeaderBackButton {
  @extend .modalHeaderButton;
  left: 0;
  top: 0;

  svg {
    path {
      fill: var(--panel-full-height-nav-background);
    }
  }
}

.modalHeaderCloseButton {
  @extend .modalHeaderButton;
  right: 0;
  top: 0;

  svg {
    path {
      fill: var(--panel-full-height-nav-background);
    }
  }
}

.modalBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
