@import '../../../styles/variables.scss';

.modalHeader {
    display: flex;
    justify-content: center;
    height: 45px;
    position: relative;
    padding: 8px 0;
    background-color: $light-grey;
}

.modalHeaderTitle {
    display: flex;
    color: $medium-grey;
    align-items: center;
    font-size: 20px;

    svg {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}

.modalHeaderCloseButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 30px;
    top: 18%;
    fill: #9BA6B2;
    cursor: pointer;
    background: transparent;
    border: none;

    svg {
        width: 10px;
        height: 10px;
    }
}

.modalBody {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-y: auto;
}
