@import '../../../../styles/variables';

.qrCodeScannerSection {
  display: flex;
  align-items: center;
  flex-direction: column;

  video {
    width: 350px;
  }

  button {
    margin-top: 16px;
  }
}

.scanButtonContainer {
  margin-top: auto;
  margin-bottom: 50px;
}

.qrCodeScannerPlaceholder {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  border-radius: 5px;
  background-color: var(--panel-header);
  padding: 30px 0px;
}

// frameLine placeholder selectors
%frameLine {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: {
    style: solid;
    width: 3px;
    radius: 5px;
  }
  opacity: 0.5;

  &Top {
    top: 15px;
    border-bottom: {
      color: transparent;
      left-radius: 0;
      right-radius: 0;
    }
  }

  &Bottom {
    bottom: 15px;
    border-top: {
      color: transparent;
      left-radius: 0;
      right-radius: 0;
    }
  }

  &Right {
    right: 15px;
    border: {
      left-color: transparent;
      top-left-radius: 0;
      bottom-left-radius: 0;
    }
  }

  &Left {
    left: 15px;
    border: {
      right-color: transparent;
      top-right-radius: 0;
      bottom-right-radius: 0;
    }
  }
}

.frameLine {
  &TopLeft {
    @extend %frameLine, %frameLineTop, %frameLineLeft;
  }
  &TopRight {
    @extend %frameLine, %frameLineTop, %frameLineRight;
  }
  &BottomLeft {
    @extend %frameLine, %frameLineBottom, %frameLineLeft;
  }
  &BottomRight {
    @extend %frameLine, %frameLineBottom, %frameLineRight;
  }
}
