.explanation {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  display: flex;
  font-family: var(--font-gotham-light);
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.gasWarning {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.disabled {
  opacity: 0.4 !important;
}

.feeContainer {
  height: 48px;
  border: 1px solid var(--settings-item-border-color);
  border-radius: 4px;
  display: flex;
}

.fiatAmount {
  border-left: 1px solid var(--settings-item-border-color);
  display: flex;
  flex: 1;
  align-items: center;
  padding: 12px;
}

.gasAmount {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 12px;
}

.tokenImage {
  height: 21px;

  margin-right: 24px;
}

.disabledTokenImage {
  filter: grayscale(100%);
}

.currencyCode {
  margin-right: 24px;
}

.gasWarning {
  color: #d355e7;
  // padding: 15px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border: 1px solid var(--panel-header-text);
  // font-size: 0.8rem;
  // width: 80%;
  // margin: 40px auto;
  // border-radius: 3px;
  // padding: 15px;
  // max-width: 600px;
  // box-sizing: border-box;

  svg {
    margin-right: 10px;
    min-height: 14px;
    min-width: 16px;

    path {
      fill: #d355e7 !important;
    }
  }
}
