.container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  // height: 100%;
  // margin-bottom: 48px;
  width: 100%;

  h3 {
    margin: 0;
  }
}

.explanation {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  p {
    font-size: 14px;
    margin-top: 4px;
    line-height: 17px;
  }

  img {
    max-width: 68px;
    max-height: 68px;
    margin-right: 24px;
  }
}

.ledgerFormContainer {
  max-width: 400px;
  margin: 60px auto;
}

.buttonContainer {
  margin-top: -74px;
  display: flex;
  justify-content: flex-end;

  button {
    max-width: 212px;
    margin-left: 24px;
  }
}
