.addressInput {
  .addressItem {
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background: var(--input-background);
    }

    .label {
      margin-bottom: 2px;
      color: #000;
      font-size: 14px;
    }

    .value {
      color: #727272;
      font-size: 11px;
    }

    .highlight {
      font-weight: bold;
    }
  }
}
