.saveIcon {
  width: 20px;
  height: 20px;
  padding: 8px;
  color: #9BA6B2;
  font-size: 16px;
  cursor: pointer;
}

.saveTooltip {
  pointer-events: auto;
}

.saveForm {
  display: flex;
  flex-direction: column;
  text-align: left;

  .label {
    padding: 10px 0;
  }

  .input {
    width: 250px;
  }

  .button {
    margin: 10px 0;
  }
}
