.encryptedKeyContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.qrContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-top: 24px;
  width: 100%;

  .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  canvas {
    min-width: 200px;
    min-height: 200px;
  }

  button {
    margin-top: 12px;
  }

  label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    opacity: var(--input-label-opacity);
    color: var(--input-label);
    margin-bottom: 10px;
  }
}

.qrPrintButtonContainer {
  margin-bottom: 50px;
  width: 490px;
}
