@import '../../../../styles/variables';

.sendAmountsInfoBox {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;

  &:last-child {
    margin-right: 0;
  }

  h3,
  p {
    font-weight: normal;
    margin: 0;
  }

  .assetAmountsPrimary {
    font-family: $gotham-medium-font-family;
    font-size: 20px;
  }

  h3 {
    font-family: $gotham-light-font-family;
    font-size: 20px;
  }

  .assetTitle,
  .assetAmounts {
    height: 100%;
    margin-right: 7px;
  }

  .assetAmounts,
  .assetValue {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .assetAmountsPrimary {
    font-weight: bold;
  }

  .totalAssetValue {
    font-family: $gotham-book-font-family;
    font-size: 20px;
    margin-top: 1px;
  }

  .assetAmountsSecondary {
    color: $medium-grey;
    font-family: $gotham-medium-font-family;
    font-size: 14px;
    margin-top: 5px;
  }

  .remainingAssetValue {
    font-family: $gotham-book-font-family;
    font-size: 14px;
    margin-top: 5px;
    color: $medium-grey;
  }
}
