.warningPanel {
  width: 600px;

  .container {
    display: flex;
    flex-direction: row;

    .icon {
      flex: 0 0 auto;
      margin-right: 24px;
    }

    .message {
      flex: 1 1 auto;
      font-size: 12px;
      line-height: 1.5em;

      p {
        margin: 0 0 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
