@import '../../styles/variables';

.active {
  background-image: linear-gradient(to right, #66eb8e, #6bdaf6),
    radial-gradient(circle at top left, #66eb8e, #6bdaf6) !important;
  color: #fff !important;
}

.button {
  border: none;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  padding: 12px;
  white-space: nowrap;
  transition: opacity 0.2s;

  &[disabled] {
    opacity: 0.25;
  }

  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to right, #66eb8e, #6bdaf6),
        radial-gradient(circle at top left, #66eb8e, #6bdaf6);
    }
  }

  &.dark {
    background: $primary-button;
    color: #fff;

    path {
      fill: #fff;
    }
  }

  &.light {
    border: solid;
    border-width: 2px;
    border-color: transparent;
    background: #fff;
    color: $primary-button;

    &:not([disabled]):hover {
      border: double 2px transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-color: transparent;
      border-color: transparent;
      color: white;

      path {
        fill: #fff;
      }
    }
  }

  span {
    width: 100%;
  }

  .icon {
    svg {
      height: 24.5px;
      width: 24.5px;
    }

    height: 24.5px;
    width: 24.5px;
    align-self: flex-start;

    &.dark {
      // TODO
    }

    &.light {
      // TODO
    }
  }
}
