@import '../../styles/variables';

.active {
  background-image: linear-gradient(
    -216deg,
    #66ed87 0%,
    #6ad8ff 100%
  ) !important;

  &:hover {
    background: #66edcd !important;
  }
}

.button {
  border: none;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  padding: 12px;
  white-space: nowrap;
  transition: opacity 0.2s;
  height: 50px;

  &[disabled] {
    opacity: 0.6;
    background: #d6d9e0 !important;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &.dark {
    background-image: linear-gradient(-216deg, #66ed87 0%, #6ad8ff 100%);
    font-size: 14px;
    color: #394152;

    path {
      fill: #394152;
    }

    &:not([disabled]):hover {
      background: #66edcd;
    }
  }

  &.light {
    border: solid;
    border-width: 2px;
    border-color: transparent;
    background: #fff;
    color: #394152;

    &:not([disabled]):hover {
      border: double 2px transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-color: transparent;
      border-color: transparent;
      background: #f2f2f2;
    }
  }

  span {
    width: 100%;
  }

  .centeredLabel {
    position: absolute;
    align-self: center !important;
  }

  .icon {
    svg {
      height: 24.5px;
      width: 24.5px;
    }
    height: 24.5px;
    width: 24.5px;
    align-self: flex-start;
  }
}
