.passwordInput {
  .icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;

    &, path {
      color: #9599a2;
      fill: #9599a2;
    }
  }
}
