@import '../../../styles/variables';

.refreshButton {
  display: block;
  margin-top: 10px;
}

.mintNewButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.switchMintTokens {
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;
}
