.editContactPanel {
  max-width: 600px;

  .header {
    display: flex;
    align-items: center;

    .back {
      margin-right: 10px;
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editContactInstructions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-family: var(--font-gotham-medium);
    font-size: 14px;
    color: #d355e7;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      path {
        fill: #d355e7;
      }
    }
  }
}
.confirmDeleteModalPrompt {
  text-align: center;
  width: 100%;

  h2 {
    margin-top: 10px;

    font-size: 18px;
    color: var(--contacts-delete-contact-name);
    text-align: center;
  }
}
