p {
  margin: 0 0 12px 0;
}

.form {
  width: 420px;
}

.txSuccessContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    margin-top: 24px;
  }

  code {
    font-size: 10px;

    color: var(--wc-tooltip-button-color);
  }

  p {
    width: 400px;
    text-align: center;

    font-size: 18px;
    color: #7e939b;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  }
}

.approveConnectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;

  img {
    margin: auto;
    max-width: 50px;
  }

  .connectionDetails {
    background: var(--wc-connection-details-bg);
    border-radius: 4px;
    width: 450px;
    font-size: 16px;
    color: var(--wc-connection-details-color);
    text-align: left;
    padding: 24px;
  }

  .details {
    background: var(--wc-connection-details-bg2);
    padding: 6px;
    margin: 12px 0;
  }

  .detailsLabel {
    width: 100%;
    text-align: left;
    padding-bottom: 6px;
    border-bottom: 1px solid #626b7d;
  }

  .featuresRow {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: var(--wc-connection-details-color);
    font-family: var(--font-gotham-light);
    padding: 6px 0px 12px 0px;

    label {
      margin-bottom: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }

  .confirmation {
    padding-top: 18px;
    border-top: 1px solid #626b7d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin: 0 6px;
      cursor: pointer;
    }
  }
}

.approveRequestContainer {
  .connectionDetails {
    padding-top: 12px !important;
  }

  .methodName {
    color: var(--wc-tooltip-button-color);
  }

  .detailRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    font-size: 12px;

    label {
      margin: 0;
    }

    .scriptHash {
      font-size: 12px;
      color: var(--wc-tooltip-button-color);
    }
  }

  .noBorder {
    border: none !important;
  }

  .centered {
    display: flex;
    align-items: center;
  }

  .requestParams {
    font-size: 12px;

    .paramContainer {
      display: flex;
      margin: 12px 0;
      align-items: center;
    }

    .jsonParams {
      display: flex;
      flex-direction: column;
      margin-left: 48px;
      white-space: pre;
      margin-top: -12px;
      font-size: 11px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      align-items: flex-start;
    }

    .index {
      margin-right: 6px;
      background: var(--wc-param-index);
      height: 22px;
      width: 22px;
      font-size: 12px;
      color: var(--wc-tooltip-button-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
    }

    div {
      display: flex;
    }
  }
}

.walletConnectIcon {
  svg {
    path {
      fill: rgb(255, 255, 255) !important;
    }
  }
}
