@import '../../styles/variables';

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  button {
    width: 125px;
    //height: 49px;
  }

  a {
    text-decoration: none;
  }

  .walletManagerDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 605px;
    min-height: 60px;
    align-self: flex-start;
    padding: 30px;
    border-bottom: solid 0.5px #8d98ae;

    .iconAndHeader,
    .buttonRow {
      display: flex;
      align-items: center;
    }

    .walletIcon {
      display: flex;
      margin-right: 10px;

      svg {
        width: 40px;
        height: 40px;
        margin: auto;
        overflow: visible;

        path {
          fill: #69e27e;
        }
      }
    }

    h2 {
      /* Manage Wallets: */
      font-family: Gotham-Light;
      font-weight: 100;
      font-size: 30px;
      line-height: 32px;
    }
  }

  .walletList {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;

    .walletInfoRow {
      display: flex;
      min-height: 60px;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: solid 0.5px rgba(93, 103, 127, 0.5);
    }

    .accountLabel {
      font-size: 14px;
      text-overflow: ellipsis;
      width: 115px;
      overflow: hidden;
      white-space: nowrap;
    }

    .address {
      font-family: Gotham-Book;
      font-size: 12px;
      width: 300px;
      color: #8d98ae;
    }
  }
}

.noWalletInfo {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  font-style: italic;
  opacity: 0.8;
}
