@import '../../styles/variables';

.noTransactions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
}

.transactionList {
    margin: 0;
    padding: 0;
    margin: 20px;
}

.row {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    font-weight: 200;
    border-bottom: 1px solid $spacer-color;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .txid {
        flex: 0 0 auto;
    }

    .amounts {
        margin-right: 10px;
        flex: 1 1 auto;
        white-space: nowrap;
    }
}

.txid {
    text-align: left;
    font-family: 'courier new';
    font-size: .7em;
}

.amounts {
    .amount {
        display: block;
        text-align: right;
        color: $thin-text-color;
    }
}
