.transactionHistory {
  display: flex;
  flex-direction: column;
  height: 100%;

  .transactionHistoryPanel {
    flex: 1 1 auto;
  }
}

.panelHeaderButtons {
  width: 225px;
  display: flex;
  justify-content: space-between;
}

.exportButton {
  font-size: 16px !important;

  svg {
    path {
<<<<<<< HEAD
      fill: var(--header-bar-default-icon-color);
=======
      fill: var(--header-bar-default-icon-color) !important;
>>>>>>> release/2.2.1-redo
    }
  }
}
