.addRecipientDisplay {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .inputs {
        flex: 1 0 auto;
    }

    .actions {
        flex: 0 0 auto;
    }
}

.inputs {
    .row {
        display: flex;
        flex-direction: row;

        .column {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .label {
            display: block;
            padding: 10px 0;
        }

        .sendToIcon {
            align-self: center;
        }

        .recipient {
            flex: 1 0 auto;
        }
    }
}

.actions {
    margin-top: 20px;
    text-align: right;
}
