@import '../../../styles/variables';

.contentContainer {
  padding: 0 125px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 30px;

  .icon {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    path {
      fill: var(--panel-icon);
    }
  }

  .title {
    font-weight: 100;
    font-size: 30px;
    line-height: 32px;
    font-family: Gotham-Light;
    text-align: center;
  }
}

.divider {
  border-bottom: var(--panel-header-border) solid 1px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 16px;

  .sectionTitle {
    font-size: 14px;
    font-weight: 500;
  }

  .sectionContent {
    line-height: 24px;
    padding: 16px 0 16px 0;
  }
}
