@import '../../../styles/variables';

.canvas {
    margin: 10px 0;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.percentRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 12px;
}

.percentButton {
    width: 100%;
    &:last-child {
        margin: 0
    }
}

.label {
    padding: 10px 0;
}

.sendAmount {
    display: flex;
    align-items: center;
}

.sendAmountSelect {
    margin-right: 10px;
}

.sendButton {
    margin-top: 20px;
}

.externalLink {
    color: $link-color;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tokenInfoMessage {
    font-size: 13px;
}
