.copyToClipboard {
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background: transparent;

  &:hover {
    opacity: .7;
  }

  svg {
    &, & path {
      fill: #9599a2;
    }
  }

  .tooltip {
    display: inline-block;
  }
}
