.copyToClipboard {
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background: transparent;

  &:hover {
    opacity: 0.7;
  }

  svg {
    &,
    & path {
      fill: var(--panel-icon);
    }
  }

  .tooltip {
    display: inline-block;
  }
}
