@import '../../styles/variables';
@import '../../styles/animations';

.dashboard {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;

  .headerAddressContainer {
    display: flex;
    align-items: center;

    label {
      margin-right: 5px;
      font-family: Gotham-Medium;
    }

    .addressLink {
      font-size: 16px;
      line-height: 32px;
      margin: 0;
      text-align: left;
      cursor: pointer;
    }
  }

  .dashboardNetworkSwitch {
    position: absolute;
    left: 90px;
    top: 20px;
    font-size: 16px;
    max-width: 120px;
  }

  .dataColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-right: 12px;

    .assetsPanel {
      height: 100%;
      max-height: 450px;
      min-height: 351px;
      margin-top: auto;
    }

    .tokensPanel {
      height: 100%;
      margin-bottom: 12px;
    }
  }

  .panelContainer {
    justify-content: center;
    display: flex;
    max-width: 99%;
    height: 100%;
  }

  .chartsColumn {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-width: 0;

    .pricesPanel {
      height: 100%;
    }

    .portfolioPanel {
      height: 450px;
      margin-bottom: 12px;
    }
  }

  .dashboardHeaderButonContainer {
    width: 300px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;

    span {
      margin-left: 10px;
    }

    .refresh {
      cursor: pointer;
    }

    .refreshButton {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .loading {
      animation: spin 2s linear infinite;
    }
  }
}
