@import '../../styles/variables';

.dashboard {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;

  .dataColumn {
    flex: 0 0 440px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 24px;

    .assetsPanel {
      flex: 0 0 auto;
      margin-bottom: 24px;
    }

    .tokensPanel {
      flex: 1 1 auto;
      min-height: 150px;
    }
  }

  .chartsColumn {
    flex: 1 1 auto;
    min-width: 0;

    // .pricesPanel {
    //   flex: 0 0 auto;
    // }
  }
}
