@import '../../styles/variables';

.container {
  height: 100%;
}

.walletButtons {
  display: flex;
  padding-bottom: 20px;
}

.walletButton,
.icoButton {
  width: 50%;
  padding: 9px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 200;
  background-color: $default-button;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $default-button-hover;
  }
}

.sendButton {
  margin-right: 10px;
}

.icoButton {
  margin-left: 10px;
}

.walletButtonText {
  padding-left: 5px;
}

.walletButtonIcon {
  font-size: 1.1em;
}

.content {
  display: flex;
  height: 100%;
}

.contentBox {
  width: 50%;
}

.transactionHistory {
  border-left: 1.5px solid #efefef;
}

.buttonContainer {
  text-align: center;
  width: 100%;
  padding: 16px 0px;
  font-weight: 200;
  font-size: 1.2em;
}
