.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 172px;
  margin-bottom: 24px;
}

.promptButton {
  width: 350px;
  margin-top: 12px;
}

.signButton {
  width: 350px;
  margin-top: 24px;
  margin-bottom: 24px;
}
