@import '../../../styles/variables';

.txidLink {
  color: var(--base-link-color);
  font-size: 14px;
  cursor: pointer;
}

.txDateContainer {
  width: 200px;
  font-size: 14px;
  text-align: center;
  font-family: var(--font-gotham-book);
}

.txLabelContainer {
  font-family: var(--font-gotham-book);
  font-size: 14px;
  text-align: center;
  width: 75px;
}

.txAmountContainer {
  width: 160px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.txToContainer {
  width: 320px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    align-self: flex-end;
    margin-top: 5px;

    svg {
      path {
        fill: var(--tx-history-copy-icon);
      }
    }
  }
}

.historyButtonPlaceholder {
  width: 90px;
}

.transactionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  button[disabled] {
    background: transparent !important;
  }
}

.abstractContainer {
  @extend .transactionContainer;
  justify-content: space-between;
  margin-left: 20px;
}

.invocationTransaction {
  font-size: 14px;
}

.transactionHistoryButton {
  max-width: 90px;
  min-width: 90px;
  background: transparent !important;

  svg {
    path {
      fill: var(--tx-history-button-icon) !important;
    }
  }
}

.amounts {
  align-items: center;
  display: flex;
  width: 255px;
  justify-content: center;
}

.txTypeIconContainer {
  margin-left: 20px;
  .claimIconContainer {
    svg {
      path {
        fill: #ffcf48;
      }
    }
  }

  .sendIconContainer {
    svg {
      path {
        fill: #ff967e;
      }
    }
  }

  .receiveIconContainer {
    svg {
      path {
        fill: #82e092;
      }
    }
  }
}
