@import '../../../styles/variables';

.txidLink {
  color: var(--base-link-color);
  font-size: 14px;
  cursor: pointer;
}

.txDateContainer {
  width: 200px;
  min-width: 200px;
  font-size: 14px;
  text-align: center;
}

.pendingTxDate {
  @extend .txDateContainer;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
}

.txLabelContainer {
  font-size: 14px;
  display: flex;
  text-align: center;
  width: 75px;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 25px;
    max-width: 25px;
    margin-bottom: 5px;
  }
}

.txLabelContainerN3 {
  font-size: 14px;
  display: flex;
  text-align: center;
  width: 100px;
  flex-direction: column;
  align-items: center;
}

.txNFTContainerN3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 50px;
    max-width: 50px;
    margin-bottom: 5px;
  }
}

.txTokenContainerN3 {
  font-size: 14px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-width: 67px;
  max-width: 67px;

  img {
    max-height: 25px;
    max-width: 25px;
    margin-bottom: 5px;
  }
}

.txAmountContainer {
  width: 160px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.txAmountContainerN3 {
  width: 150px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.txTransferContainerN3 {
  width: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.txToContainer {
  width: 320px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    align-self: flex-end;
    margin-top: 5px;

    svg {
      path {
        fill: var(--tx-list-copy-icon);
      }
    }
  }
}

.txSubjectContainerN3 {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;

  p {
    text-overflow: ellipsis;
    margin: 0;
    width: 270px;
    font-size: 13px;
  }

  button {
    margin-top: 5px;

    svg {
      path {
        fill: var(--tx-list-copy-icon);
      }
    }
  }
}

.txToContainerN3 {
  width: 450px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;

  span {
    text-overflow: ellipsis;
  }

  button {
    svg {
      path {
        fill: var(--tx-list-copy-icon);
      }
    }
  }
}

.historyButtonPlaceholder {
  width: 100px;
}

.confirmationsContainer {
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.transactionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  button[disabled] {
    background: transparent !important;
    opacity: 0.3;
  }
}

.transactionContainerN3 {
  display: flex;
  align-items: center;
  width: 100%;

  button[disabled] {
    background: transparent !important;
    opacity: 0.3;
  }
}

.abstractContainer {
  @extend .transactionContainer;
  justify-content: space-between;
  margin-left: 20px;
}

.abstractContainerN3 {
  @extend .transactionContainer;
  justify-content: flex-start;
  margin: 0 60px 0 10px;
  width: 300px;
}

.invocationTransaction {
  font-size: 14px;
}

.transactionHistoryButton {
  max-width: 100px;
  min-width: 100px;
  background: transparent !important;

  svg {
    path {
      fill: var(--tx-list-button-icon) !important;
    }
  }
}

.amounts {
  align-items: center;
  display: flex;
  width: 255px;
  justify-content: center;
}

.sendIconContainer {
  width: 25px;
  min-width: 25px;
  svg {
    path {
      fill: #d355e7;
    }
  }
}

.txTypeIconContainer {
  margin-left: 20px;
  .claimIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }

  .receiveIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }
}

.txTypeIconContainerN3 {
  margin-left: 5px;
  .claimIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }

  .sendIconContainer {
    svg {
      path {
        fill: #d355e7;
      }
    }
  }

  .receiveIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }
}

.migrationTransaction {
  width: 100%;
  display: flex;
  height: 60px;
  // background: #37414b;
  // border-bottom: solid 2px#4cffb3;
  cursor: pointer;
  margin-bottom: 2px;
  // margin: -2x -24px 2px -24px;

  .migrationTxAddressContainer {
    // width: 320px;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 10px;
    justify-content: space-between;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    button {
      align-self: flex-end;
      margin-top: 5px;

      svg {
        path {
          fill: var(--tx-list-copy-icon);
        }
      }
    }

    .migrationAssetHash {
      margin-right: 4px;
    }
  }

  .statusContainer {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .statusCompleteContainer {
    display: flex;
    align-items: center;
    color: var(--tx-icon-color);
    // width: 80px;
    svg {
      margin-right: 3px;

      path {
        fill: var(--tx-icon-color);
      }
    }
  }

  .statusPendingContainer {
    display: flex;
    align-items: center;
    margin-right: 6px;
    min-height: 18px;
    min-width: 80px;

    svg {
      margin-right: 3px;
      min-height: 18px;
      min-width: 24px;

      path {
        fill: var(--base-text);
      }
    }
  }
}

.errorTransaction {
  opacity: 0.4;
}

.statusProgessBar {
  height: 2px;
  width: 60%;
  background-color: #4cffb3;
}

.migrationTxWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.isComplete {
  width: 100%;
}
