@import '../../../styles/variables';

.txidLink {
  color: var(--base-link-color);
  font-size: 14px;
  cursor: pointer;
}

.txDateContainer {
  width: 200px;
  font-size: 14px;
  text-align: center;
}

.pendingTxDate {
  @extend .txDateContainer;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
}

.txLabelContainer {
  font-size: 14px;
  display: flex;
  text-align: center;
  width: 75px;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 25px;
    max-width: 25px;
    margin-bottom: 5px;
  }
}

.txAmountContainer {
  width: 160px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.txToContainer {
  width: 320px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    align-self: flex-end;
    margin-top: 5px;

    svg {
      path {
        fill: var(--tx-list-copy-icon);
      }
    }
  }
}

.historyButtonPlaceholder {
  width: 100px;
}

.confirmationsContainer {
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.transactionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  button[disabled] {
    background: transparent !important;
    opacity: 0.3;
  }
}

.abstractContainer {
  @extend .transactionContainer;
  justify-content: space-between;
  margin-left: 20px;
}

.invocationTransaction {
  font-size: 14px;
}

.transactionHistoryButton {
  max-width: 100px;
  min-width: 100px;
  background: transparent !important;

  svg {
    path {
      fill: var(--tx-list-button-icon) !important;
    }
  }
}

.amounts {
  align-items: center;
  display: flex;
  width: 255px;
  justify-content: center;
}

.txTypeIconContainer {
  margin-left: 20px;
  .claimIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }

  .sendIconContainer {
    svg {
      path {
        fill: #d355e7;
      }
    }
  }

  .receiveIconContainer {
    svg {
      path {
        fill: var(--tx-icon-color);
      }
    }
  }
}
