@import '../../../styles/variables';

.transaction {
  color: $link-color;
  cursor: pointer;
}

.txDateContainer {
  width: 120px;
  text-align: center;
}

.txLabelContainer {
  width: 185px;
  text-align: center;
}

.transactionContainer {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-evenly;
  width: 100%;
}

.invocationTransaction {
  font-size: 13px;
}

.amounts {
  align-items: center;
  display: flex;
  width: 255px;
  justify-content: center;
}

.txTypeIconContainer {
  width: 50px;
  .claimIconContainer {
    svg {
      path {
        fill: #ffcf48;
      }
    }
  }
}
