@import '../../../styles/variables';

.tokenSaleConfirmDetails {
  display: flex;
  flex-direction: column;
}

.tokenSaleConfirmPanel {
  max-width: 600px;
  margin: 0 auto;
}

.tokenSaleConfirmPanelHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokenSaleConfirmPanelHeaderLogo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.tokenSaleConfirmContainer {
  min-width: 450px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -48px;
}

.tokenSaleConfirmButton {
  margin: 24px 0 0 0;
  min-height: 50px;
}

.tokenSaleConfirmImage {
  width: 100px;
  margin: 0 auto;
}

.tokenSaleConfirmCloseButton {
  background: transparent;
  border: none;
}

.confirmationFees {
  display: flex;
  flex-direction: column;
  font-family: Gotham-Book;
  font-size: 12px;
  color: #8d98ae;
  text-align: center;
  margin: auto;

  p {
    margin: 12px 0;
  }
}
