.confirmToken {
  text-align: center;
  padding-top: 168px;

  .heading {
    padding-bottom: 5px;
    color: #353535;
    font-size: 34px;
  }

  .details {
    padding: 15px;
    background-color: #e8f4e4;
    width: 450px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
