.networkConfigPanel {
  display: flex;
  justify-content: center;
  height: 100%;

  .networkConfigInstructions {
    border-bottom: none !important;
  }

  .networkItemsContainer {
    max-width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    height: 500px;
  }
}

.contentContainerStyle {
  height: 100%;
}

.resetButton {
  margin-top: 150px;
}
