#flagButtonContainer {
  opacity: 0.5;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  svg {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
  }
}

#floatingLanguageSelect {
  position: absolute;
  margin-left: -130px;
  margin-top: 18px;
}

#flagDropdownContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin: 24px 24px -48px -48px;
  svg {
    cursor: pointer;
  }
}

.languageOptionRow {
  display: flex;
  align-items: center;
  svg {
    margin-right: 8px;
    min-width: 18px;
    max-width: 18px;
    height: 18px;
    min-height: 18px;
  }
}
