.container {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag;
  z-index: 1000;

  .innerButtonContaner {
    -webkit-app-region: no-drag;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;

    .iconContainer {
      padding: 2px;
    }

    .iconContainer:hover {
      svg {
        g {
          opacity: 1 !important;
        }
      }
    }

    svg {
      cursor: pointer;
      width: 12px;
      height: 12px;

      g {
        fill: var(--base-text);
        opacity: 0.5;
      }
    }
  }
}
