.sendError {
  .sendSerrorHeader {
    padding: 40px 30px 10px;
    align-items: center;
    display: flex;
    justify-content: center;

    svg {
      height: 50px;
      width: 50px;
      min-width: 50px;
      margin-right: 25px;

      path {
        fill: #ee6d66;
      }
    }

    .sendErrorHeaderTitle {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2em;
      margin: 0;
    }
  }

  .sendErrorButton {
    width: 450px;
    margin: 0 auto;
  }

  .sendErrorDialogueBox {
    margin: 0 auto 20px auto;
    width: 450px;
  }
}
