@import '../../styles/variables';

.container {
    font-size: .8em;
}

.label {
    opacity: .6;
    margin-right: 4px;
}

.netName {
    color: $thin-text-color;
    opacity: .8;
    cursor: pointer;
}