@import '../../styles/variables';

.container {
    position: absolute;
    font-size: .8em;
    right: 80px;
    top: 13px;
}

.label {
    opacity: .6;
    margin-right: 4px;
}

.netName {
    color: $thin-text-color;
    opacity: .8;
    cursor: pointer;
}