@import '../../../styles/variables';

.numberInput {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: $text-input-height;
  border: 2px solid $text-input-background-color;
  border-radius: $text-input-border-radius;
  background: $text-input-background-color;
  position: relative;

  &.active {
    @include active-input;
  }

  &.error {
    border: 2px solid $error-color;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .errorIcon {
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .errorMessage {
    background-color: $error-color;
    color: $white;
    position: absolute;
    top: 39px;
    left: -2px;
    width: 100%;
    font-size: 0.7rem;
    padding: 5px 2px;
    border-radius: 3px;
    z-index: 9999;
    text-align: center;
  }

  .cleave {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;
    height: $text-input-height;
    line-height: $text-input-height;
    color: $text-input-color;
    background: $text-input-background-color;
    font-size: $text-input-font-size;
  }

  .maxButton {
    flex: 0 1 auto;
    border: none;
    color: #8f939b;
    background: #e6e6e6;
    font-size: 12px;
    font-weight: 600;
    width: auto;
    padding: 12px;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: auto;

    &:hover:not([disabled]) {
      @extend .maxButton;
      background: #e6e6e6 !important;
    }
  }
}
