@import '../../../styles/variables';

.sendAmountsPanel {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  overflow-x: auto;
  margin: 20px 0;
  max-width: 100%;
  background-color: $light-grey;
  color: $dark-grey;
}
