@import '../../../styles/variables';

.sendAmountsPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 50px;
  overflow-x: auto;
  margin: 20px 0;
  overflow-y: hidden;
  max-width: 100%;
  background-color: #f2f2f2;
  color: #515151;
}
