@import '../../styles/variables';

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 300px;
    th, td {
        border: 1px solid #dbdbdb;
        border-width: 0 0 1px;
        padding: 0.5em 0.75em;
        vertical-align: top;
    }
    th {
        border-width: 0 0 2px;
    }
}

.tokenName {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tokenNameIcon {
    padding-right: 5px;
}