@import '../../styles/variables';

.tokenBalances {
    padding-top: 10px;
}

.refreshIconContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.refreshIcon {
    font-size: 2.2em;
    cursor: pointer;
    color: $default-button;
    &:hover {
        color: $default-button-hover;
    }
}