.container {
    padding: 12px 0;
}

.addToken {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-between;
}

.switchNetworkContainer {
    padding-right: 25px;
    font-size: 14px;
}

.switchNetworkLabel {
    padding-right: 5px;
}

.rowsContainer {
    height: 280px;
    overflow-y: auto;
}

.modalFooter {
    padding-top: 20px;
}
