@import '../../../../styles/variables';

.tokenSaleErrorDetails {
  margin: 30px 0;
}

.tokenSaleErrorDetailsHeading {
  font-size: 0.8rem;
  margin-top: 25px;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--panel-label-text);
}

.tokenSaleErrorDetailsContainer {
  padding: 20px 30px;
  background-color: var(--panel-header);
  border-radius: 3px;
}

.tokenSaleErrorDetailsSecondaryHeading {
  font-size: 1rem;
  font-weight: bold;
}

.tokenSaleErrorDetailsMainHeading {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
  justify-content: center;
  color: var(--base-main-text);

  svg {
    path {
      fill: var(--input-error);
    }
  }
}

.tokenSaleErrorDetailsIcon {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
