.panelHeaderButton {
  border: none;
  background: transparent;
  padding: 8px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  width: auto;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  color: var(--base-text) !important;

  &[disabled] {
    cursor: default;
    opacity: 0.6;
  }

  svg {
    width: 24px;
    margin-right: 10px;

    path {
      fill: var(--panel-icon);
    }
  }
}
