.error {
  color: var(--input-label);
  text-align: center;
  margin-top: 20px;
  .heading svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
    path {
      fill: var(--input-error)
    }
  }
  .desc {
    font-size: 14px;
    padding: 10px 50px 0;
  }
}

video {
  transform: scaleX(-1); // mirror image
}
