@import '../../../../styles/variables';

.section {
  border: 1px solid #ff0000;
  background-color: #ffeaea;
  font-size: 16px;
}

.sectionBody {
  padding: 24px;
}

.container {
  padding-bottom: 50px;
}

.heading {
  height: 43px;
  text-align: center;
  line-height: 43px;
  color: #fff;
  background-color: #ff0000;
}

.bullets {
  ol {
    color:  #ff0000;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    li {
      color: #353535;
      padding-bottom: 5px;
      line-height: 24px;
    }
  }
}

