.displayInput {
  height: 44px;
  background-color: var(--input-background);
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  line-height: 42px;
  color: var(--input-text);
  background: var(--input-background);
  font-size: 14px;
  font-weight: 300;
  padding: 7px 15px;
  border: none;
}
