.displayInput {
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  line-height: 42px;
  color: #282828;
  background: #f2f2f2;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 15px;
  border: none;
}
