@import '../../styles/variables';
@import '../../styles/animations';

.headerBar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: -10px;
  padding: 12px;
  margin-bottom: 25px;
  min-height: 30px;
  max-height: 30px;
  border-bottom: solid thin #5c677f;

  h3 {
    font-family: var(--font-gotham-medium);
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    text-align: left;
    font-weight: 300;
  }

  svg {
    path {
      fill: var(--header-bar-default-icon-color);
    }
  }

  a {
    text-decoration: none;
    color: var(--base-text);
    align-items: center;
    display: flex;
  }

  .refreshButton {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 10px;
    }
  }

  .loading {
    animation: spin 1.5s linear infinite;
  }
}

.currentNetwork {
  text-align: left;
  font-size: 10px;
  margin: -12px 0 0 12px;
  opacity: 0.5;
}
