.releaseNotesContainer {
  margin: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 6px 6px 6px;
}

canvas {
  min-width: 250px;
  min-height: 250px;
}

label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  opacity: var(--input-label-opacity);
  color: var(--input-label);
  margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin: 48px 0 100px 0;
    max-width: 250px;
  }
}
