$success-icon-size: 115px;

.successMessage {
  display: flex;
  align-items: center;

  .iconContainer {
    display: flex;
    padding-right: 30px;

    svg {
      width: $success-icon-size;
      height: $success-icon-size;
    }
  }
}

.text {
  display: flex;
  color: #5c677f;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 29px;
}
