@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main-background);
  color: var(--base-text);

  .sidebar {
    flex: 0 0 auto;
  }

  .wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 24px;
    -webkit-app-region: drag;
    background: var(--base-main-background);

    .content {
      -webkit-app-region: no-drag;
      flex: 1 1 auto;
      height: 100%;
    }
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 64px;
  }
}
