@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #e6e6e6;

  .sidebar {
    flex: 0 0 auto;
  }

  .wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 24px;

    .content {
      flex: 1 1 auto;
      height: 100%;
    }
  }
}
