.container { 
    position: fixed;
    display: flex;
    flex-direction: column;

    &.top {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.top_right {
        top: 0;
        right: 0;
    }

    &.top_left {
        top: 0;
        left: 0;
    }

    &.bottom {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);        
    }

    &.bottom_right {
        bottom: 0;
        right: 0;
    }

    &.bottom_left {
        bottom: 0;
        left: 0;
    }    
}