@import '../../../styles/variables';

.tokenSalePanelDialogueBox {
  border: none;
  margin: 20px auto;
}

.tokenSalePanelContainer {
  max-width: 600px;
  margin: 20px auto;
}

.tokenSaleButton {
  max-width: 400px;
  margin: 20px auto;
}

.tokenSalePanel {
  margin-bottom: 75px;
}

.tokenSalePanelHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.tokenSaleHeaderButton {
  width: 200px;
}

.warningIcon {
  path {
    fill: $error-color;
  }
}
