.tokenSalePanelDialogueBox {
  border: none;
  margin: 20px auto;
}

.tokenSalePanelContainer {
  max-width: 600px;
  margin: 20px auto;
}

.tokenSaleButton {
  max-width: 400px;
  margin: 20px auto;
}

.tokenSalePanel {
  margin-bottom: 75px;
}

.warningIcon {
  path {
    fill: #ee6d66;
  }
}
