@import '../../../styles/variables';

.tokenSalePanelDialogueBox {
  border: none;
  margin: 20px auto;
}

.tokenSalePanelContainer {
  max-width: 600px;
  margin: 0px auto;
}

.tokenSaleButton {
  max-width: 450px;
  margin: 12px auto;
}

.tokenSalePanel {
  margin-bottom: 75px;
}

.tokenSalePanelHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.warningIcon {
  path {
    fill: $warning-red;
  }
}

.priorityFeeContainer {
  margin: auto;
  max-width: 450px;
}
