$latency-status-size: 9px;

.nodeSelectPanel {
  display: flex;
  justify-content: center;

  .instructions {
    width: 100%;
    border-bottom: none;
    text-align: center;
  }

  .tableContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 680px;
    flex: 1;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f2f2f2;
      display: flex;
      padding: 25px;

      .sortContainer {
        display: flex;

        .label,
        .sort {
          font-weight: 500;
          font-size: 14px;
        }

        .label {
          display: flex;
          align-items: center;
          padding-right: 12px;
        }

        .sort {
          display: flex;
          align-items: center;
          color: #969aa0;
          cursor: pointer;

          svg,
          svg path {
            fill: currentColor;
          }
        }
      }

      .count,
      .automaticSelect {
        font-size: 14px;
        line-height: 14px;
        color: #5c677f;
        font-family: Gotham-Book;
      }

      .automaticSelect {
        display: flex;
        align-items: center;
        color: #969aa0;

        .icon {
          margin-right: 8px;
        }

        svg path {
          fill: #66ed87;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow: scroll;

      .row {
        display: flex;
        min-height: min-content;
        padding: 20px 10px;
        font-size: 14px;

        &:nth-child(odd) {
          background-color: rgba(230, 230, 230, 0.28);
        }

        > div {
          display: flex;
          align-items: center;
          padding: 0 15px;
          flex-grow: 0;
        }

        .latency {
          flex-basis: 15%;

          div {
            width: $latency-status-size;
            height: $latency-status-size;
            margin-right: 10px;
            font-weight: 500;
            border-radius: 50%;

            &.good {
              background-color: #7ed321;
            }
            &.ok {
              background-color: #f7bc33;
            }
            &.fair {
              background-color: #ee6d66;
            }
          }
        }

        .blockHeight {
          flex-basis: 30%;
        }

        .url {
          flex-basis: 45%;
          color: #969aa0;
        }

        .select {
          flex-basis: 20%;
          display: flex;
          align-items: center;
          color: #969aa0;
          cursor: pointer;

          .icon {
            margin-right: 8px;
          }

          svg,
          svg path {
            fill: #66ed87;
          }
        }
      }
    }
  }
}
