@import '../../../styles/variables';

.tokenSaleSuccess {
  max-width: 600px;
  margin: 0 auto;
}

.tokenSaleConfirmPanelHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokenSaleSuccessContainer {
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.tokenSaleSuccessCloseButton {
  background: transparent;
  border: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 500px;

  button:first-child {
    width: 45%;
  }

  a {
    width: 45%;
    color: var(--base-text);
  }

  button:last-child {
    margin-right: 0;
    width: 45%;
  }
}

.tokenSaleSuccessHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: var(--base-text);
}

.tokenSaleSuccessSendIcon {
  margin-right: 5px;
}

.tokenSaleSuccessImage {
  width: 100px;
  margin: 0 auto;
}

.tokenSaleSuccessSpacer {
  width: 100%;
  height: 2px;
  margin: 30px 0;
}

.tokenSaleSuccessInnerContainer {
  display: flex;
  margin-bottom: auto;
}

.tokenSaleSuccessIcon {
  height: 150px;
  width: 150px;
}

.tokenSaleSuccessInnerTextContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.tokenSaleSuccessInnerTextHeading {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.tokenSaleSuccessInnerTextParagraph {
  font-size: 0.9rem;
}
