@import '../../../../styles/variables';

.container {
  padding-bottom: 50px;
}

.section {
  border: 1px solid #206408;
}

.heading {
  background-color: #206408;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}

.footer {
  background-color: #e8f4e4;
  height: 80px;
  line-height: 40px;
  padding: 0 12px;
  margin-top: 20px;
}

.assetInput {
  width: 100%;
}

.numberInput {
  width: auto;
}

.purchaseBtn {
  white-space: nowrap;
  padding: 9px;
}

.content {
  display: flex;
}

.mint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  border-right: 1px solid #206408;
}

.mintBody {
  display: flex;
  > div {
    padding: 0 14px;
  }
}

.label {
  padding-bottom: 12px;
}

.assets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  width: 290px;
}

.assetsBody {
  > div {
    padding: 0 14px 10px 14px;
  }
}

