@import '../../../../styles/variables';

.container {
  padding-bottom: 50px;
}

.section {
  border: 1px solid #206408;
}

.heading {
  background-color: #206408;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}

.footer {
  background-color: #e8f4e4;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  margin-top: 20px;
}

.assetInput {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
}

.numberInput {
  width: auto;
}

.purchaseBtn {
  white-space: nowrap;
  padding: 9px;
}

.content {
  display: flex;
}

.mint {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mintBody {
  padding: 30px 14px 10px;
}

.label {
  margin-bottom: 4px;
}

.assets {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  border-left: 1px solid #206408;
}

.assetsBody {
  padding: 30px 14px 10px;
}
