.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  flex: 1;
  width: 500px;
}

.createWalletForm {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex: 1;
}

.importWalletForm {
  @extend .createWalletForm;
  margin-top: -24px;
}

.loginButtonMargin {
  margin-top: auto;
  margin-bottom: 50px;
}

.selectMargin {
  margin-bottom: 20px;
}
