@import '../../../styles/variables';

.contentContainer {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modalBody {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 30px;

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 24px;

    path {
      fill: #69e27e;
    }
  }

  .title {
    font-weight: 100;
    font-size: 30px;
    line-height: 32px;
    font-family: Gotham-Light;
    color: var(--base-text);
    text-align: center;
  }
}

.qr {
  border: none;
  height: 250px;
  width: 250px;
}

.subHeader {
  display: flex;
  padding-bottom: 6px;
  border-bottom: black solid 1px;
  margin-bottom: 20px;

  .title {
    flex: 1;
  }
}

.hidden {
  opacity: 0;
}

.loaderMargin {
  margin-top: 100px;
}

.buttonContainer {
  margin-top: auto;
  margin-bottom: 50px;
}

.urlSection,
.section {
  margin-bottom: 16px;

  .sectionTitle {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .qrcode,
  .sectionContent {
    border-radius: 4px;
    line-height: 24px;
  }

  .sectionContent {
    padding: 16px;
    background-color: var(--panel-header);
  }

  .qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 275px;
    background-color: var(--panel-header);
    padding: 16px;
  }

  .imgUri {
    max-width: 440px;
    min-width: 440px;
    text-overflow: ellipsis;
    align-items: center;
    font-size: 10px;
    display: flex;
  }

  .assetAmount {
    font-weight: 500;
  }
}

.urlSection {
  .sectionContent {
    display: flex;
  }
}
