.priorityExplanationText {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  opacity: 0.5;
  font-family: var(--font-gotham-bold);
  font-size: 12px;
  margin-bottom: 10px;
}

.priorityFeeContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.priorityFeeButtonContainer {
  display: flex;
  justify-content: center;

  .feeCost {
    font-size: 11px;
    font-weight: 100;
  }

  .speed {
    font-weight: 400;
  }

  button:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none !important;
    display: flex;
    flex: 2.25;
    background: var(--button-priority-transfer-background);
  }

  button:nth-child(2) {
    border-radius: 0;
    border-right: none !important;
    display: flex;
    flex: 2;
    background: var(--button-priority-transfer-background);
  }

  button:nth-child(3) {
    border-radius: 0 4px 4px 0;
    display: flex;
    flex: 1.5;
    background: var(--button-priority-transfer-background);
  }

  .activeButton {
    color: var(--button-active-text) !important;
  }

  button {
    margin: 0;
    height: auto;
    border: solid thin #8d98ae !important;
    background: var(--button-priority-transfer-background);
    color: var(--button-priority-transfer-color) !important;

    &:not([disabled]):hover {
      color: var(--button-active-text) !important;
    }

    &[disabled] {
      opacity: 0.6;
      background: var(--button-priority-transfer-disabled) !important;

      svg {
        g {
          fill: #d6d9e0;
        }
      }
    }

    span {
      align-self: center !important;
    }
  }
}
