.priorityExplanationText {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  opacity: 0.5;
  font-family: var(--font-gotham-bold);
  font-size: 12px;
  margin-bottom: 10px;
}

.priorityFeeContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.priorityFeeButtonContainer {
  display: flex;
  background-image: var(--button-priority-button-container-background);
  box-shadow: var(--button-priority-button-container-shadow);
  border-radius: 8px;

  .feeCost {
    font-size: 11px;
    text-align: left;
    margin-left: 4px;
  }

  .speed {
    font-style: var(--font-gotham-book);
    text-align: left;
    font-size: 14px;
    margin-left: 4px;
  }

  button:first-child {
    border-radius: 8px 0 0 8px;
    border-right: none !important;
    border-left: none !important;
    display: flex;
    flex: 1;
    background: var(--button-priority-transfer-background);
  }

  button:nth-child(2) {
    border-radius: 0;
    border-right: none !important;
    display: flex;
    flex: 1;
    background: var(--button-priority-transfer-background);
  }

  button:nth-child(3) {
    border-radius: 0 8px 8px 0;
    display: flex;
    flex: 1;
    background: var(--button-priority-transfer-background);
  }

  .activeButton {
    color: var(--button-active-text) !important;

    svg {
      max-width: 8px;

      g {
        fill: #3bfdab !important;
      }
    }
  }

  button {
    box-shadow: var(--button-priority-conditional-box-shadow) !important;
    border-left: var(--button-priority-transfer-button-border);

    svg {
      max-width: 8px;

      g {
        fill: var(--button-priority-standard-icon-color);
      }
    }
    margin: 0;
    height: 60px;
    background: var(--button-priority-transfer-background);
    color: var(--button-priority-transfer-color) !important;

    &:not([disabled]):hover {
      color: var(--button-active-text) !important;
      background: var(--button-priority-active-hover) !important;

      svg {
        max-width: 8px;

        g {
          fill: #3bfdab !important;
        }
      }
    }

    &[disabled] {
      opacity: var(--button-priority-disabled-opacity);
      background: var(--button-priority-transfer-disabled) !important;
      color: var(--button-priority-transfer-disabled-color) !important;

      svg {
        g {
          fill: var(--button-priority-transfer-disabled-color) !important;
        }
      }
    }

    span {
      align-self: center !important;
    }
  }
}
