@import '../../styles/variables';

.logout {
    font-size: 1.5em;
    cursor: pointer;
    padding-left: 38px;
    position: relative;
    top: -10px;    
    color: $default-text;
    a {
        font-size: inherit;
        margin: none;
        padding: none;
        text-decoration: none;
        color: inherit;
    }
}