@import '../../../styles/animations';

.assetBalancesPanel {
  .centeredContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .refresh {
      cursor: pointer;

      &,
      & path {
        color: #9599a2;
        fill: currentColor;
      }

      &.loading {
        animation: spin 2s linear infinite;
      }
    }
  }

  .assets {
    margin: 0 24px 10px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    .asset {
      text-align: center;

      .quantity {
        font-weight: 200;
        margin: 16px 0;
        font-family: Gotham-Light;
        font-size: 40px;
        color: var(--base-text);
      }

      .value {
        color: #969aa0;
        font-size: 14px;
      }

      .change {
        margin-left: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 1px 4px;

        &.increase {
          background-color: #5abf6b;
        }

        &.decrease {
          background-color: #ee6d66;
        }
      }
    }
  }

  .walletTotal {
    font-family: Gotham-Medium;
    font-size: 24px;
    color: var(--base-text);
    text-align: center;
    line-height: 32px;
  }

  .totalValue {
    padding: 24px;
    display: flex;
    background: var(--dashboard-asset-panel-total-background);
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 24px;
  }

  .label {
    margin-bottom: 8px;
    color: #969aa0;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: Gotham-Light;
    font-size: 24px;
    color: var(--base-text);
  }

  .assetName {
    opacity: 0.5;
    font-family: Gotham-Bold;
    font-size: 13px;
    color: var(--dashboard-asset-panel-asset-name);
    text-align: center;
  }

  .claim {
    margin: 0 24px 12px;
    width: 350px;
    align-self: center;

    .claimButton {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
