.transactionOutput {
  background-color: var(--panel-header);
  font-size: 10px;
  width: 525px;
  padding: 12px;
  margin: 12px 0 24px 0;
}

.contentContainer {
  padding: 0 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modalBody {
  height: 100%;
}

.buttonContainer {
  display: flex;

  button:first-child {
    margin-right: 24px;
  }

  button:nth-child(2) {
    svg {
      max-width: 20px;
    }
  }
}

.signedButtonContainer {
  display: flex;

  button:first-child {
    margin-right: 24px;
    svg {
      max-width: 20px;
    }
  }
}

.transactionInput {
  width: 100%;
  background-color: var(--panel-header);
  margin: 12px 0 24px 0;
  padding: 12px;
  box-sizing: border-box;
}

.sectionContent {
  line-height: 24px;
  padding: 16px 0 0 0;
}

.tabs {
  ul {
    margin-bottom: 24px;
  }
}
