@import '../../../../styles/variables';

.logout {
  color: #9599a2;
  font-size: 24px;
  cursor: pointer;

  &,
  & svg,
  & svg path {
    color: #9599a2;
    fill: currentColor;
  }
}

.logoutText {
  font-family: Gotham-Book;
  font-size: 10px;
  margin-top: 5px;
  color: #9599a2;
}
