.receivePanel {
  flex: 1;
  margin: auto;
  background: var(--panel-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    height: 410px;
    width: 400px;
    margin: -50px 60px 0 60px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 24px;

    g {
      fill: #69e27e;
    }
  }

  .title {
    font-weight: 100;
    font-size: 30px;
    line-height: 32px;
    font-family: var(--font-gotham-light);
    color: var(--base-text);
    text-align: center;
  }

  .inputDescription {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
  }

  .amountContainer {
    display: flex;
    margin-bottom: 20px;

    .asset {
      min-width: 100px;
    }

    .amount {
      flex: 1;
      margin-left: 24px;
    }
  }

  .submitButton {
    margin-top: 30px;
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 46px;
    height: 46px;
    padding: 0px 15px;
    line-height: 42px;
    background: var(--input-background);
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;

    .link {
      flex: 0 0 auto;
    }

    .copy {
      flex: 0 0 auto;
    }
  }
}
