.receivePanel {
  flex: 1;
  margin: auto;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    height: 385px;
    width: 400px;
    margin: -40px 60px 0 60px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 24px;

    g {
      fill: #69e27e;
    }
  }

  .title {
    font-weight: 100;
    font-size: 30px;
    line-height: 32px;
    font-family: Gotham-Light;
    color: #394152;
    text-align: center;
  }

  .inputDescription {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
  }

  .amountContainer {
    display: flex;
    margin-bottom: 20px;

    .asset {
      min-width: 100px;
    }

    .amount {
      flex: 1;
      margin-left: 24px;
    }
  }

  .submitButton {
    margin-top: 50px;
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 24px;
    background: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;

    .link {
      flex: 0 0 auto;
      color: #282828;
    }

    .copy {
      flex: 0 0 auto;
    }
  }
}
